inputStyle()
    color: $color-text-body;
    background-color: $color-white;
    border: 1px solid $color-border;
    border-radius: $border-radius-m;
    padding: 0.5em 1em;
    +inputPlaceholder()
        color: $color-text-muted;

inputStyleTransparent()
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
