$dropdown ?= {
    background-color: $color-white,
    border-color: $color-border,
    border-radius: $border-radius-m,
    border-width: 1px,
    box-shadow: $box-shadow-close,
    color: $color-text-default,
    line-height: $line-height,
    padding: .8rem 0,
}

$dropdown.item = {
    padding: .2em 1.4em
}

$dropdown.link = {
    color: $color-text-default,
    color--hover: $color-primary
}

$dropdown.item.header = {
    color: $color-text-default,
    font-size: $font-size,
    font-weight: $font-weight-semibold
}

styleDefault()
    .menu
        background-color: $dropdown.background-color;
        border: $dropdown.border-width solid $dropdown.border-color;
        padding: $dropdown.padding;
        border-radius: $dropdown.border-radius;
        box-shadow: $dropdown.box-shadow

styleList()
    padding: $dropdown.item.padding
    &.header
        color: $dropdown.item.header.color;
        font-size: $dropdown.item.header.font-size;
        font-weight: $dropdown.item.header.font-weight;

styleLink()
    color: $dropdown.link.color;

styleLinkHover()
    color: $dropdown.link.color--hover;
