$progress ?= {
    background-color: $color-border
    border-radius: $border-radius-m
    height: 1.6rem
}

$progress.bar = {
    border-radius: $progress.border-radius
    background-color: darken($progress.background-color, 76%)
}

$progress.status = {
    color: $color-white
    font-size: $font-size-small
    font-weight: $font-weight-bold
    line-height: $progress.height
}

styleDefault()
    background-color: $progress.background-color;
    border-radius: $progress.border-radius;
    height: $progress.height;

styleDefaultBar()
    background-color: $progress.bar.background-color;
    border-radius: $progress.bar.border-radius;

styleDefaultStatus()
    color: $progress.status.color;
    font-size: $progress.status.font-size;
    line-height: $progress.status.line-height;
    font-weight: $progress.status.font-weight;

styleSized(size)
    if size == 'tiny'
        height: 0.26rem;
    if size == 'small'
        height: 0.8rem;
    if size == 'large'
        height: 2.8rem;
        .status
            line-height: 2.8rem;
            font-size: $font-size;
