$table ?= {
    background-color: $color-white,
    border-color: $color-border,
    border-width: 1px,
}

$table.th = {
    font-weight: $font-weight-semibold,
    padding: .5em 1em
}

$table.td = {
    padding: .5em 1em
}

$table.striped = {
    background-color: $color-grey-light
}

styleDefault()
    border: $table.border-width solid $table.border-color;
    border-radius: $table.border-radius;

styleHeaderCell()
    font-weight: $table.th.font-weight;
    border-bottom: $table.border-width solid $table.border-color;
    padding: $table.th.padding;

styleStandardCell()
    padding: $table.td.padding;
    border-bottom: $table.border-width solid $table.border-color;

styleStripedRow()
    &:nth-child(2n)
        background-color: $table.striped.background-color
