$tooltip ?= {}

$tooltip.arrow = {
    background-color: $color-white,
    background-color--dark: $color-ash,
    box-shadow: 1px 1px 0 0 $color-border
    box-shadow--inverted: -1px -1px 0 0 $color-border
}

$tooltip.body = {
    background-color: $color-white,
    background-color--dark: $color-ash,
    border: 1px solid $color-border,
    border-color--dark: $color-ash,
    border-radius: $border-radius-m,
    box-shadow: $box-shadow-subtle,
    color: $color-text-body,
    color--dark: $color-white,
    padding: .5em 1em,
}

styleArrow()
    background-color: $tooltip.arrow.background-color;
    box-shadow: $tooltip.arrow.box-shadow;
    ../[data-position~=bottom]:before
        box-shadow: $tooltip.arrow.box-shadow--inverted;

styleBody()
    color: $tooltip.body.color;
    background-color: $tooltip.body.background-color;
    border: $tooltip.body.border;
    box-shadow: $tooltip.body.box-shadow;
    padding: $tooltip.body.padding;
    border-radius: $tooltip.body.border-radius;

styleArrowDark()
    background-color: $tooltip.arrow.background-color--dark;

styleBodyDark()
    border-color: $tooltip.body.border-color--dark;
    background-color: $tooltip.body.background-color--dark;
    color: $tooltip.body.color--dark;
