.accordion
  span(1/1)
  & > .title
    padding .7rem 0
    cursor pointer
    line-height 1.6em
    color color-heading
    font-weight 500
    & > i
      width 1.3rem
      display inline-block
      height 1px
      &::before
        content '\f125'
        font normal normal normal .74rem Ionicons
        color link-light
    &.open
      i::before
        content '\f123'
        font normal normal normal .74rem Ionicons
        color link-light
  & > .content
    line-height 1.6rem
    display none
    color text-default
    &.open
      display block
    & + .title
      margin-top .6rem
  &.module
    padding 0
    max-width 40rem
    &.fluid
      max-width none
    & > .title
      padding 1.3rem 1.3rem
      border-top 1px solid border-grey
      font-weight 600
      color color-heading
      line-height 1.4rem
      &:first-child
        border none
    & > .content
      padding 0 1.3rem 1.3rem 1.3rem
      margin-top -.8rem
      & + .title
          margin-top 0
