.breakpoint-
  &xs-hide
    +below('xs')
      display none
  &s-hide
    +below('s')
      display none
  &m-hide
    +below('m')
      display none
  &l-hide
    +below('l')
      display none
  &xl-hide
    +below('xl')
      display none
  &xxl-hide
    +below('xxl')
      display none
  &xs-show
    display none
    +below('xs')
      display block
  &s-show
    display none
    +below('s')
      display block
  &m-show
    display none
    +below('m')
      display block
  &l-show
    display none
    +below('l')
      display block
  &xl-show
    display none
    +below('xl')
      display block
  &xxl-show
    display none
    +below('xxl')
      display block
  &xs-stack
    +below('xs')
      stack()
      margin 0 !important
      padding 0
    &able > *
      +below('xs')
        stack()
        margin 0 !important
        padding 0
  &s-stack
    +below('s')
      stack()
      margin 0 !important
      padding 0
    &able > *
      +below('s')
        stack()
        margin 0 !important
        padding 0
  &m-stack
    +below('m')
      stack()
      margin 0 !important
      padding 0
    &able > *
      +below('m')
        stack()
        margin 0 !important
        padding 0
  &l-stack
    +below('l')
      stack()
      margin 0 !important
      padding 0
    &able > *
      +below('l')
        stack()
        margin 0 !important
        padding 0
  &xl-stack
    +below('xl')
      stack()
      margin 0 !important
      padding 0
    &able > *
      +below('xl')
        stack()
        margin 0 !important
        padding 0
  &xxl-stack
    +below('xxl')
      stack()
      margin 0 !important
      padding 0
    &able > *
      +below('xxl')
        stack()
        margin 0 !important
        padding 0
