.button
  display inline-block
  position relative
  border-radius border-radius-normal
  color text-default
  background-color background-light-grey
  outline 0
  padding .75em 1.8em
  text-align center
  border 0
  line-height 1.125
  font-size font-size-standard
  font-weight 500
  cursor pointer
  transition all 0.2s ease
  vertical-align top
  for size in ('small' 'medium' 'large' 'big')
    &.{size}
      btn-size(size)
  &.outlined
    box-sizing border-box
    background-color transparent
    box-shadow inset 0px 0px 0px 1px background-light-grey
    color text-default
    &.white
      color #fff
      &:hover
        background-color #fff
        color text-default
  &:hover
    box-shadow none
    background-color background-light-grey
  for clr in ('red' 'orange' 'yellow' 'green' 'teal' 'blue' 'violet' 'purple' 'pink' 'brown' 'grey' 'black' 'primary')
    &.{clr}
      btn-color(clr)
      btn-background(clr)
      &.disabled, &[disabled], &.loading
        pointer-events none
        btn-disabled-color(clr)
      &.outlined
        btn-color-outlined(clr)
        background-color transparent
        btn-border(clr)
      &:hover
        btn-color(clr)
        btn-background-hover(clr)
  &.labeled
    padding-left 4.2em
    i
      absolute top left
      width 2.8rem
      background-color rgba(0, 0, 0, 0.1)
      text-align center
      color #fff
      height 100%
      line-height 2.7
    &.labeled-right
      padding-left 1.8em
      padding-right 4.2em
      i
        absolute top right
        left auto
  &.icon
    padding auto 0.8275rem
  &:hover
    color text-default
    background-color darken(background-light-grey, 4%)
    text-decoration none
  &.disabled, &[disabled]
    @extends .disabled
    color text-disabled
  &.loading
    @extends .disabled
    color text-disabled
    span
      color inherit !important
    .loader
      height 1.125em
      width 1.125em
      line-height 1em
      border-width .2em
      display inline-block
      vertical-align top
    .loader + span, span + .loader
      margin-left .8em
