code
  background-color background-lightest-grey
  color color-primary
  padding .3rem .5rem
  border-radius border-radius-normal
  font-family font-family-code
  line-height 1.6rem
  font-size .8rem
  font-weight 500

p
  code
    margin 0 .3rem

.message
  code
    background-color rgba(15, 45, 76, 0.03)
