code
	background-color lighten(background-light-grey, 50%)
	color color-pink
	padding .3rem .5rem
	border-radius border-radius-normal
	font-family font-family-code
	line-height 1.4rem
	font-size .8rem
	font-weight 500

pre
	background-color lighten(background-light-grey, 50%)
	padding .3rem .5rem
	code
		padding 0

p
	code
		margin 0 .3rem

.message
	code
		background-color rgba(0,0,0,.06)
