code
  background-color background-lighter-grey
  color color-primary
  padding .3rem .5rem
  border-radius border-radius-normal
  font-family font-family-code
  line-height 1.6rem
  font-size font-size-code
  font-weight 500

p
  code
    margin 0 .3rem

.message
  code
    background-color transparent
    border 1px solid border-grey
