@font-face
  font-family 'Inter UI'
  src url('fonts/InterUI-Black.eot')
  src url('fonts/InterUI-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/InterUI-Black.woff') format('woff')
  font-weight 900
  font-style normal

@font-face
  font-family 'Inter UI'
  src url('fonts/InterUI-BoldItalic.eot')
  src url('fonts/InterUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/InterUI-BoldItalic.woff') format('woff')
  font-weight bold
  font-style italic

@font-face
  font-family 'Inter UI'
  src url('fonts/InterUI-Medium.eot')
  src url('fonts/InterUI-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/InterUI-Medium.woff') format('woff')
  font-weight 500
  font-style normal

@font-face
  font-family 'Inter UI'
  src url('fonts/InterUI-BlackItalic.eot')
  src url('fonts/InterUI-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/InterUI-BlackItalic.woff') format('woff')
  font-weight 900
  font-style italic

@font-face
  font-family 'Inter UI'
  src url('fonts/InterUI-MediumItalic.eot')
  src url('fonts/InterUI-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/InterUI-MediumItalic.woff') format('woff')
  font-weight 500
  font-style italic

@font-face
  font-family 'Inter UI'
  src url('fonts/InterUI-RegularItalic.eot')
  src url('fonts/InterUI-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/InterUI-RegularItalic.woff') format('woff')
  font-weight normal
  font-style italic

@font-face
  font-family 'Inter UI'
  src url('fonts/InterUI-Bold.eot')
  src url('fonts/InterUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/InterUI-Bold.woff') format('woff')
  font-weight bold
  font-style normal

@font-face
  font-family 'Inter UI'
  src url('fonts/InterUI-Regular.eot')
  src url('fonts/InterUI-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/InterUI-Regular.woff') format('woff')
  font-weight normal
  font-style normal
