ul.list, ol.list
  padding 0
  margin 0
  list-style none

.list
  font-size font-size-standard
  li, .item
    padding 0.25rem 0
    position relative
    line-height 1.7rem
    display list-item
    table-layout fixed
    &:after
      display block
      content ''
      height 0
      clear both
    a.header
      display block
    .header
      font-weight 600
      line-height 1.5rem
    .icon
      &.large
        font-size font-size-h5
        line-height 2.6rem
      display inline-block
      vertical-align middle !important
      margin-right 1rem
    .content
      display inline-block
      vertical-align top
    code
      padding 0
      background transparent
  &.spaced
    li, .item
      padding 0.4rem 0
  &.very-spaced
    li, .item
      padding 0.8rem 0
  &.links
    > .item
      transition opacity 0.14s ease
      a
        color link-light
        font-weight 500
      &:hover
        color link-light-hover
        text-decoration none
      &.active
        a
          color color-primary
  &.divided
    li:first-child, .item:first-child
      border none
    li, .item
      border-top 1px solid border-light-red-grey

  &.horizontal
    li
      display inline-block
      & + li
        margin-left 1.8rem

  &.ordered
    counter-reset ordereditem
    .list
      counter-reset ordereditem
      padding .55rem 0 .05rem .5rem
    li, .item
      list-style none
      &:before
        counter-increment ordereditem
        content counters(ordereditem,".") " "
        margin-right 5px
        opacity 0.6
  &.bulleted
    padding-left 1rem
    .item
      &:before
        content '\2022'
        absolute left auto top .2rem
        margin-left -0.97rem

ol.ordered
  li[value]:before
    content attr(value)
