.loader
  border-style solid
  border-width .5rem
  border-color transparentify(#ffffff, 60%)
  border-left-color transparent
  width 5rem
  height 5rem
  border-radius 50%
  animation spin 1.3s infinite linear
  &.disabled, &.hidden
    display none
  &.inline
    display inline-block
  &.small
    width 3.3rem
    height 3.3rem
    border-width .35rem
  &.large
    width 5rem
    height 5rem
  &.dark
    border-color transparentify(text-default, 40%)
    border-left-color transparent
