.message
  padding 1.1rem 1.8rem
  background-color #fff
  border 0
  border-left 6px solid border-grey
  border-radius border-radius-normal
  margin 1rem 0
  background-color background-lightest-grey
  color text-default
  h6
    line-height 1.2em
    margin-bottom .2rem
    color color-heading
  &.warning
    border-color border-warning
  &.important
    border-color border-important
  &.success
    border-color border-success
  &.info
    border-color border-info
