.message
  padding 1.1rem 1.8rem
  background-color #fff
  border 0
  border-left 6px solid border-grey
  border-radius 4px
  margin 1rem 0
  background-color background-lightest-grey
  h6
    line-height 1.2em
    margin-bottom .2rem
  &.warning
    border-color border-warning
    color text-warning
  &.important
    border-color border-important
    color text-important
  &.success
    border-color border-success
    color text-success
  &.info
    border-color border-info
    color text-info
