.stages
  display inline-flex
  flex-direction row
  align-items stretch
  border-radius border-radius-normal
  border 1px solid border-grey
  &.fluid
    display flex
  &.vertical
    flex-direction column
    overflow visible
    .stage
      justify-content flex-start
      border-left 0 !important
      .icon
        width 2rem
        text-align center
      & + .stage
        border-top 1px solid border-grey
      &:first-child
        border-radius border-radius-normal border-radius-normal 0 0
      &:last-child
        border-radius 0 0 border-radius-normal border-radius-normal
      &:not(.active)
        &:before, &:after
          display none
      &.active
        &:before, &:after
          display block
  .stage
    display flex
    flex 1 0 auto
    flex-wrap wrap
    vertical-align center
    flex-direction row
    align-items stretch
    background-color #fff
    padding 1rem 1.8rem
    position relative
    overflow hidden
    .header
      display block
      font-weight 500
      font-size font-size-standard
      color color-heading
    &:last-child
      &:before, &:after
        display none
    &:before
      content ''
      width 0
      height 0
      border-top .8rem solid transparent
      border-bottom .8rem solid transparent
      border-left .8rem solid #fff
      absolute right -0.55rem top 31%
      z-index 900
    &:after
      content ''
      width 0
      height 0
      border-top .6rem solid transparent
      border-bottom .6rem solid transparent
      border-left .6rem solid border-grey
      absolute right -0.6rem top 35%
      z-index 800
    .icon
      margin-right 1.1rem
      width 2.2rem
      text-align center
      i
        font-size font-size-h3
        relative top .5rem
        color color-grey
    & + .stage
      border-left 1px solid border-grey
    &.disabled > *
      opacity 0.4
    &.completed
      i
        color color-green
    &.active
      background-color background-lightest-grey
      .header
        color color-primary
      &:before
        border-left-color background-lightest-grey
    .content
      flex 0 1 auto
      color text-default
      line-height 1.5rem
    small
      display block
      color text-default
      margin .4rem 0 0 0
    pre
      margin 1rem 0 0 0
      white-space pre-wrap
      code
        display inline-block
        padding .4rem 1rem
