*
  box-sizing border-box

global-reset()

html
  height 100%
  width 100%

body
  font-family font-family-standard
  font-size font-size-standard
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color text-default
  height 100%
  width 100%
  margin 0
  padding 0

for h in (1..6)
  h{h}
    line-height 1.8em
    font-size lookup('font-size-h' + h)
    letter-spacing -.02em
    font-weight 500
    color color-heading

::selection
  color #fff
  background-color lighten(primary-color, 30%)

a
  color color-primary
  text-decoration none
  cursor pointer
  &:hover
    color darken(color-primary, 10%)

li > a
  &:hover
    text-decoration none
p
  line-height 1.6em
  color text-default

b, strong, .strong
  font-weight 600

small
  font-size font-size-small
