//Typography
font-size-hero = 1.2em
font-size-small = .86em
font-size-standard = 16px
font-size-h1 = 3.8em
font-size-h2 = 2.4em
font-size-h3 = 2em
font-size-h4 = 1.6em
font-size-h5 = 1.4em
font-size-h6 = 1.2em

font-family-standard = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
font-family-code = 'Roboto Mono', 'Consolas', 'Monaco', 'Lucida Console', monospace

//Colors
primary-color = #435ce2
primary-white = #fff
primary-black = #000

color-heading = #1c2a40
color-red = #ff2d2d
color-orange = #ff8f17
color-yellow = #ffbd00
color-green = #01bc67
color-teal = #00b1a1
color-blue = #1d7aff
color-violet = #af00e8
color-purple = #670ef5
color-pink = #fb0c92
color-brown = #ab5b33
color-grey = #53565a
color-black = #000
color-primary = primary-color
color-ash = #6b6c6e
color-smoke = #e3e7eb

background-info = lighten(color-blue, 92%)
background-warning = lighten(color-yellow, 92%)
background-important = lighten(color-red, 92%)
background-success = lighten(color-green, 92%)

background-light-grey = lighten(color-smoke, 20%)
background-lighter-grey = lighten(color-smoke, 60%)
background-lightest-grey = lighten(color-smoke, 75%)

border-grey = color-smoke
border-info = lighten(color-blue, 10%)
border-warning = lighten(color-yellow, 10%)
border-important = lighten(color-red, 10%)
border-success = lighten(color-green, 10%)

text-button-primary = primary-white
text-button-red = primary-white
text-button-orange = primary-white
text-button-yellow = primary-white
text-button-green = primary-white
text-button-teal = primary-white
text-button-blue = primary-white
text-button-violet = primary-white
text-button-purple = primary-white
text-button-pink = primary-white
text-button-brown = primary-white
text-button-grey = primary-white
text-button-black = primary-white
text-button-default = darken(color-grey, 20%)

hover-text-button-default = darken(color-grey, 40%)

link-light = lighten(color-grey, 15%)
link-light-hover = darken(color-grey, 20%)

text-grey = darken(color-grey, 28%)
text-info = darken(color-blue, 65%)
text-warning = darken(color-yellow, 65%)
text-important = darken(color-red, 65%)
text-success = darken(color-green, 65%)
text-code = primary-black

box-shadow-grey = rgba(38,38,40,.15)

//Identifiers
border-radius-normal = 4px
em-height = 2.8em

//Page
standard-page-width = 1124px
standard-page-padding = 1rem

//Button size
button-small = 0.8em
button-medium = 1.2em
button-large = 1.34em
button-big = 1.5em
button-massive = 1.64em

//Image size
image-mini = 35px
image-tiny = 70px
image-small = 140px
image-medium = 280px
image-large = 400px
image-big = 600px
image-huge = 800px
image-massive = 940px

//Animations
duration-0 = 0s
duration-s = .08s
duration-m = .18s
duration-l = .3s
duration-xl = .5s
duration-xxl = .8s
duration-xxxl = 1.2s

//Grids
grid-padding = 15px
grid-length = 12

//Rupture
rupture.base-font-size = 15px
rupture.anti-overlap = true

rupture.scale = 0 480px 768px 1024px 1224px 1824px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'xxl'
