//Typography
font-size-hero = 1.2em
font-size-label = .76rem
font-size-small = .86rem
font-size-code = .86rem
font-size-standard = 16px
font-size-h1 = 3.8em
font-size-h2 = 2.4em
font-size-h3 = 2em
font-size-h4 = 1.6em
font-size-h5 = 1.4em
font-size-h6 = 1.2em

font-family-standard = "Inter UI", sans-serif;
font-family-code = 'Roboto Mono', 'Consolas', 'Monaco', 'Lucida Console', monospace

//Colors
primary-color = #435ce2
primary-white = #fff
primary-black = #000

color-heading = #1c2a40

color-red = #ff2d2d
color-orange = #ff8f17
color-yellow = #ffbd00
color-green = #06c78a
color-teal = #00b1a1
color-blue = #1d7aff
color-violet = #af00e8
color-purple = #670ef5
color-pink = #fb0c92
color-brown = #ab5b33
color-grey = #53565a
color-black = #000
color-primary = primary-color
color-ash = #6b6c6e
color-smoke = #e3e7eb

background-light-grey = lighten(color-smoke, 20%)
background-lighter-grey = #f5f7fa
background-lightest-grey = lighten(background-lighter-grey, 25%)

border-info = lighten(color-blue, 10%)
border-warning = lighten(color-yellow, 10%)
border-important = lighten(color-red, 10%)
border-success = lighten(color-green, 10%)

border-grey = color-smoke
box-shadow-grey = rgba(70, 72, 75, 0.1)

text-button-primary = primary-white
text-button-red = primary-white
text-button-orange = primary-white
text-button-yellow = primary-white
text-button-green = primary-white
text-button-teal = primary-white
text-button-blue = primary-white
text-button-violet = primary-white
text-button-purple = primary-white
text-button-pink = primary-white
text-button-brown = primary-white
text-button-grey = primary-white
text-button-black = primary-white
text-button-white = text-default

text-default = color-grey
text-disabled = lighten(text-default, 35%)
text-code = primary-black

link-light = lighten(color-grey, 15%)
link-light-hover = darken(color-grey, 20%)

//Identifiers
border-radius-normal = 4px
em-height = 2.8rem

//Page
standard-page-width = 1124px
standard-page-padding = 1rem

//Button size
button-small-fontsize = .86rem
button-medium-fontsize = 1.2rem
button-large-fontsize = 1.34rem
button-big-fontsize = 1.5rem

button-small-padding = .65em 1.8em
button-medium-padding = .75em 1.8em
button-large-padding = .85em 2em
button-big-padding = .95em 2.2em

//Tooltip text size
tooltip-tiny = .72rem
tooltip-small = .86rem
tooltip-medium = 1.1rem
tooltip-large = 1.4rem
tooltip-big = 1.8rem

//Image size
image-mini = 35px
image-tiny = 70px
image-small = 140px
image-medium = 280px
image-large = 400px
image-big = 600px
image-huge = 800px
image-massive = 940px

//Animations
duration-0 = 0s
duration-s = .08s
duration-m = .18s
duration-l = .3s
duration-xl = .5s
duration-xxl = .8s
duration-xxxl = 1.2s
duration-xxxxl = 2s

//Grids
grid-padding = 15px
grid-length = 12

//Rupture
rupture.base-font-size = 15px
rupture.anti-overlap = true

rupture.scale = 0 480px 768px 1024px 1224px 1824px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'xxl'
