$fn = './../themes/' + $theme + '/' + getFilename() + '/style';

@import './../defaults/_button'
@import $fn if exists($fn);

.button
    display: inline-block;
    position: relative;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: $button_font-weight;
    font-size: $button_font-size;
    line-height: $button_line-height;
    styleDefault();

    &:hover
        styleHover();

    &.outlined
        styleOutlined(color);

    for size in ($generic-sizes)
        &.{size}
            styleSized(size);

    for color in ($colors)
        &.{color}
            styleColored(color);
            &.outlined
                styleOutlinedColored(color);
