.button
    display inline-block
    position relative
    outline 0
    border 0
    cursor pointer
    font-weight 500
    font-size $font-size-button
    border-radius $border-radius-m
    padding .5em 1em
    defaultButtonStyle()
    &:hover
        background-color darken(@background-color, 8%)
    for color in ('red' 'orange' 'yellow' 'green' 'teal' 'blue' 'violet' 'purple' 'pink' 'brown' 'grey' 'black' 'primary')
        &.{color}
            buttonStyle(color)
