-fn = './../themes/' + $theme + '/' + getFilename() + '/style';

@import './../defaults/_dropdown'
@import -fn if exists(-fn);

.dropdown
    position: relative;
    display: inline-block;
    styleDefault();

    .menu
        absolute: top 2rem left 0;
        min-width: 13rem;
        z-index: 800;
        display: none;
        li, a
            display: block;
            line-height: $dropdown.line-height;
        li
            styleList();
        a
            cursor: pointer;
            styleLink();
            &:hover
                styleLinkHover();

    &.open
        .menu
            display: block;

    &.floating
        .menu
            margin-top: 1rem;

    &.right
        .menu
            left: auto;
            right: 0;

    &.upward
        .menu
            top: auto;
            bottom: 2rem;
