.input
    position: relative;
    font-style: normal;
    input[type="text"], input[type="number"], input[type="password"], textarea
        font-family: $font-family-standard;
        font-size: $font-size;
        outline: 0;
        border: 0;
        min-width: 220px;
        text-align: left;
        line-height: $line-height;
        inputStyle();
        &.transparent
            inputStyleTransparent();
    textarea
        resize: vertical;
        min-height: 3rem;
