-fn = './../themes/' + $theme + '/' + getFilename() + '/style';

@import './../defaults/_form';
@import -fn if exists(-fn);

.input
    position: relative;
    font-style: normal;

    input[type="text"], input[type="number"], input[type="password"], textarea
        font-family: $font-family-standard;
        font-size: $font-size;
        outline: 0;
        border: 0;
        min-width: 220px;
        text-align: left;
        line-height: $line-height;
        styleInputDefault();
        &:focus
            styleInputFocus();
        +inputPlaceholder()
            styleInputPlaceholder();

    &.transparent
        input[type="text"], input[type="number"], input[type="password"], textarea
            border: 0;
            padding: 0;
            margin: 0;
            styleInputTransparent();

    +disabled()
        input[type="text"], input[type="number"], input[type="password"], textarea
            styleInputDisabled();

    textarea
        resize: vertical;
        min-height: 8rem;
        max-height: 12rem;
