filename = './../themes/' + $theme + '/' + getFilename() + '/style';
@import filename if exists(filename);

.message
    border: 0;
    style();
    &.warning
        coloredStyle('warning');
    &.important
        coloredStyle('important');
    &.success
        coloredStyle('success');
    &.info
        coloredStyle('info');
