.message
    border 0
    messageStyle()
    &.warning
        messageStyleType('warning')
    &.important
        messageStyleType('important')
    &.success
        messageStyleType('success')
    &.info
        messageStyleType('info')
