-fn = './../themes/' + $theme + '/' + getFilename() + '/style';

@import './../defaults/_progress';
@import -fn if exists(-fn);

.progress
    cf();
    content: '';
    styleDefault();
    .bar
        height: 100%;
        position: relative;
        width: 0;
        styleDefaultBar();
        .status
            absolute: right .6rem;
            display: none;
            styleDefaultStatus();

    &.tiny
        styleSized('tiny');

    &.small
        styleSized('small');

    &.large
        styleSized('large');

    &:not(.tiny):not(.small)
        .bar.show
            .status
                display: block;
