-fn = './../themes/' + $theme + '/' + getFilename() + '/style';

@import './../defaults/_table'
@import -fn if exists(-fn);

.table
    border-collapse: separate;
    styleDefault();
    th
        styleHeaderCell();
    td
        styleStandardCell();

    &:last-child td
        border-bottom: 0;

    &.basic
        border: 0;
        th, tr
            background-color: transparent;

    &.cells
        th, tr td
            border-left: $table.border-width solid $table.border-color;
            &:first-child
                border-left: 0;

    &.simple
        th
            background-color: transparent;

    &.striped
        tr
            styleStripedRow();
