-fn = './../themes/' + $theme + '/' + getFilename() + '/style';

@import -fn if exists(-fn);

$tooltip ?= {}

$tooltip.arrow = {
    background-color: $color-white,
    background-color--dark: $color-ash,
    box-shadow: 1px 1px 0 0 $color-border
    box-shadow--inverted: -1px -1px 0 0 $color-border
}

$tooltip.body = {
    background-color: $color-white,
    background-color--dark: $color-ash,
    border: 1px solid $color-border,
    border-color--dark: $color-ash,
    border-radius: $border-radius-m,
    box-shadow: $box-shadow-subtle,
    color: $color-text-body,
    color--dark: $color-white,
    padding: .5em 1em,
}

.tooltip[data-content]
    position relative;

    &:before
        position: absolute;
        z-index: 2;
        width: .8rem;
        height: .8rem;
        content: ' ';
        transform-origin: center top;
        transform: rotate(45deg) scale(0);
        transition: all cubic-bezier(0.02, 0.49, 0.01, 0.97) .14s;
        opacity: 0;
        will-change: transform, opacity
        background-color: $tooltip.arrow.background-color;
        box-shadow: $tooltip.arrow.box-shadow;
        ../[data-position~=bottom]:before
            box-shadow: $tooltip.arrow.box-shadow--inverted;


    &:after
        cursor: default;
        pointer-events: none;
        content: attr(data-content);
        position: absolute;
        z-index: 1;
        max-width: none;
        white-space: nowrap;
        text-align: left;
        transform: scale(0);
        transition: all cubic-bezier(0.02, 0.49, 0.01, 0.97) .14s;
        will-change: transform, opacity
        color: $tooltip.body.color;
        background-color: $tooltip.body.background-color;
        border: $tooltip.body.border;
        box-shadow: $tooltip.body.box-shadow;
        padding: $tooltip.body.padding;
        border-radius: $tooltip.body.border-radius;

    &.dark
        &:before
            box-shadow: none !important;
            background-color: $tooltip.arrow.background-color--dark;
        &:after
            border-color: $tooltip.body.border-color--dark;
            background-color: $tooltip.body.background-color--dark;
            color: $tooltip.body.color--dark;

    &:hover
        &:before
            transform: rotate(45deg) scale(1);
            opacity: 1;
        &:after
            transform: scale(1);

    for size in ($generic-sizes)
        &[data-text={size}]
            &:after
                font-size: lookup('$font-size-' + size);

    &[data-position~=top]
        &:before
            bottom: 100%;
            margin-bottom: .18rem;
        &:after
            bottom: 100%;
            margin-bottom: .6rem;

    &[data-position~=bottom]
        &:before
            top: 100%;
            margin-top: .4rem;
        &:after
            top: 100%;
            margin-top: .6rem;

    &[data-position="top left"]
        &:before
            left: 1rem;
        &:after
            left: 0;
            right: auto;
            transform-origin: left bottom;

    &[data-position="top center"]
        &:before
            left: 50%;
        &:after
            left: 50%;
            transform-origin: center bottom;
            transform: translateX(-50%) scale(0);
        &:hover
            &:after
                transform: translateX(-50%) scale(1);
            &:before
                transform: rotate(45deg) scale(1);

    &[data-position="top right"]
        &:before
            right: 1rem;
        &:after
            right: 0;
            left: auto;
            transform-origin: right bottom;

    &[data-position="bottom left"]
        &:before
            left: 1rem;
        &:after
            left: 0;
            right: auto;
            transform-origin: left top;

    &[data-position="bottom center"]
        &:before
            left: 50%;
        &:after
            left: 50%;
            transform-origin: center top;
            transform: translateX(-50%) scale(0);
        &:hover:after
            transform: translateX(-50%) scale(1);

    &[data-position="bottom right"]
        &:before
            right: 1rem;
        &:after
            right: 0;
            left: auto;
            transform-origin: right top;
