.breakpoint-
	&xs-hide
		+below('xs')
			display none
	&s-hide
		+below('s')
			display none
	&m-hide
		+below('m')
			display none
	&l-hide
		+below('l')
			display none
	&xl-hide
		+below('xl')
			display none
	&hd-hide
		+below('hd')
			display none
	&xs-show
		+above('xs')
			display block
	&s-show
		+above('s')
			display block
	&m-show
		+above('m')
			display block
	&l-show
		+above('l')
			display block
	&xl-show
		+above('xl')
			display block
	&hd-show
		+above('hd')
			display block
	&xs-stack
		+below('xs')
			stack()
			margin 0 !important
			padding 0 !important
		&able > *
			+below('xs')
				stack()
				margin 0 !important
				padding 0 !important
	&s-stack
		+below('s')
			stack()
			margin 0 !important
			padding 0 !important
		&able > *
			+below('s')
				stack()
				margin 0 !important
				padding 0 !important
	&m-stack
		+below('m')
			stack()
			margin 0 !important
			padding 0 !important
		&able > *
			+below('m')
				stack()
				margin 0 !important
				padding 0 !important
	&l-stack
		+below('l')
			stack()
			margin 0 !important
			padding 0 !important
		&able > *
			+below('l')
				stack()
				margin 0 !important
				padding 0 !important
	&xl-stack
		+below('xl')
			stack()
			margin 0 !important
			padding 0 !important
		&able > *
			+below('xl')
				stack()
				margin 0 !important
				padding 0 !important
	&hd-stack
		+below('hd')
			stack()
			margin 0 !important
			padding 0 !important
		&able > *
			+below('hd')
				stack()
				margin 0 !important
				padding 0 !important
