ifExists(getFilename(),$theme);
$menu-background-color = $color-grey-light;
$menu-padding = 1rem 3rem;
$menu_item-line-height = $line-height;
$menu_item-color = $color-text-light;
$menu_item-font-weight = $font-weight-semibold;
$menu_item-margin = 0 0 0 2rem;

.menu
    &.basic
        background-color: $menu-background-color;
        padding: $menu-padding;

        .item
            color: $menu_item-color;
            font-weight: $menu_item-font-weight;
            line-height: $menu_item-line-height;

            & + .item
                margin: $menu_item-margin;

            &:hover
                color: $color-text-body;

            &.active
                color: $color-base;
