ifExists(getFilename(),$theme);
$background-color = $color-grey-light;
$padding = 1rem 3rem;
$item-line-height = $line-height;
$item-color = $color-text-light;
$item-font-weight = $font-weight-semibold;
$item-margin = 0 0 0 2rem;

.menu
    &.basic
        background-color: $background-color;
        padding: $padding;

        .item
            color: $item-color;
            font-weight: $item-font-weight;
            line-height: $item-line-height;

            & + .item
                margin: $item-margin;

            &:hover
                color: $color-text-body;

            &.active
                color: $color-base;
