code
	background-color #f1f1f1
	color color-teal
	padding .3em .5em
	border-radius border-radius-normal
	font-family font-family-code
	line-height 1.6em
	font-size .875em

p
	code
		margin 0 .3em

.message
	code
		background-color rgba(0,0,0,.06)
