.clearfix
	cf()

.stackable
	& > *
		stack()

.stack
	stack()

.unstack
	unstack()

.inline
	display inline-block !important

.relative
	position relative

.fixed
	position fixed

.absolute, .pin
	position absolute

.pin, .fixed
	&.top
		top 0
	&.left
		left 0
	&.right
		right 0
	&.bottom
		bottom 0
	&.fixed
		position fixed

.hidden
	display none !important

.invisible
	visibility hidden !important

.borderless
	border 0 !important

.centered
	&:not(.vertical):not(.horizontal)
		align(both)
	&.vertical
		align(vertical)
	&.horizontal
		align(horizontal)

.nowrap
	white-space nowrap
