html
	height 100%
	width 100%

body
	font-family font-family-standard
	font-size font-size-standard
	color text-grey
	height 100%
	width 100%
	margin 0
	padding 0

for h in (1..6)
	h{h}
		font-size lookup('font-size-h' + h)

::selection
	color black
	background-color lighten(primary-color, 80%)
a
	color text-link
	text-decoration none
	cursor pointer
	&:hover
		color text-link-hover

p
	line-height 1.4em

small
	font-size .875em
	
strong
	font-weight 700
