//Typography
font-size-standard = 15px
font-size-h1 = 3.8em
font-size-h2 = 3em
font-size-h3 = 2.2em
font-size-h4 = 1.8em
font-size-h5 = 1.4em
font-size-h6 = 1.08em
font-family-standard = 'Lato', 'Open Sans', sans-serif
font-family-code = 'Source Code Pro', 'Consolas', 'Monaco', 'Lucida Console', monospace

//Colors
primary-color = #1877FF
primary-white = #fff

color-red = #FF4949
color-orange = #FF7C1D
color-yellow = #FFC82C
color-green = #13CE66
color-teal = #00BAA9
color-blue = #1877FF
color-violet = #A104E0
color-purple = #6435C9
color-pink = #E03997
color-brown = #AD5E37
color-grey = #7E7E7E
color-black = #000
color-primary = primary-color
color-ash = #2F3133
color-smoke = #E4E9EC

light-color-red = lighten(color-red, 20%)
light-color-orange = lighten(color-orange, 20%)
light-color-yellow = lighten(color-yellow, 20%)
light-color-green = lighten(color-green, 20%)
light-color-teal = lighten(color-teal, 10%)
light-color-blue = lighten(color-blue, 20%)
light-color-violet = lighten(color-violet, 20%)
light-color-purple = lighten(color-purple, 20%)
light-color-pink = lighten(color-pink, 20%)
light-color-brown = lighten(color-brown, 20%)
light-color-grey = lighten(color-grey, 20%)
light-color-black = lighten(color-black, 20%)
light-color-primary = lighten(color-primary, 20%)
light-color-ash = lighten(color-ash, 13%)
light-color-smoke = #f7f9fb

dark-color-red = darken(color-red, 20%)
dark-color-orange = darken(color-orange, 20%)
dark-color-yellow = darken(color-yellow, 20%)
dark-color-green = darken(color-green, 20%)
dark-color-teal = darken(color-teal, 20%)
dark-color-blue = darken(color-blue, 20%)
dark-color-violet = darken(color-violet, 20%)
dark-color-purple = darken(color-purple, 20%)
dark-color-pink = darken(color-pink, 20%)
dark-color-brown = darken(color-brown, 20%)
dark-color-grey = darken(color-grey, 20%)
dark-color-black = darken(color-black, 20%)
dark-color-primary = darken(color-primary, 20%)
dark-color-ash = #202020
dark-color-smoke = darken(color-smoke, 10%)

background-info = lighten(color-blue, 92%)
background-warning = lighten(color-yellow, 92%)
background-important = lighten(color-red, 92%)
background-success = lighten(color-green, 92%)

background-light-gray = color-smoke
background-lighter-gray = #f5f6f7
background-lightest-gray = light-color-smoke
background-primary = primary-color

border-gray = background-light-gray
border-info = darken(background-info, 24%)
border-warning = darken(background-warning, 24%)
border-important = darken(background-important, 14%)
border-success = darken(background-success, 20%)

text-button-primary = primary-white
text-button-red = primary-white
text-button-orange = primary-white
text-button-yellow = primary-white
text-button-green = primary-white
text-button-teal = primary-white
text-button-blue = primary-white
text-button-violet = primary-white
text-button-purple = primary-white
text-button-pink = primary-white
text-button-brown = primary-white
text-button-grey = primary-white
text-button-black = primary-white
text-button-default = #505050

hover-text-button-default = darken(#505050, 20%)

text-link = primary-color
text-link-hover = darken(primary-color, 25%)
text-lighter-grey = #707F87
text-lightest-grey = lighten(text-lighter-grey, 20%)
text-dark-link = #16325c
text-light-link = lighten(text-lighter-grey, 35%)
text-light-link-hover = text-lighter-grey
text-lighter-link = lighten(text-lighter-grey, 15%)
text-lighter-link-hover = darken(text-lighter-link, 20%)
text-grey = darken(#707f87, 45%)
text-info = darken(color-blue, 65%)
text-warning = darken(color-yellow, 65%)
text-important = darken(color-red, 65%)
text-success = darken(color-green, 65%)

box-shadow-gray = rgba(38,38,40,.15)

//Identifiers
border-radius-normal = 4px
em-height = 2.467em

//Page
standard-page-width = 1024px
standard-page-padding = 1em

//Button size
button-small = 0.8em
button-medium = 1.1em
button-large = 1.2em
button-big = 1.4em
button-massive = 1.6em

//Image size
image-mini = 35px
image-tiny = 70px
image-small = 140px
image-medium = 280px
image-large = 400px
image-big = 600px
image-huge = 800px
image-massive = 940px

//Animations
duration-0 = 0s
duration-s = .08s
duration-m = .18s
duration-l = .3s
duration-xl = .5s
duration-xxl = .8s

//Grids
grid-padding = 1em
grid-length = 12

//Rupture
rupture.base-font-size = 15px
rupture.anti-overlap = true

rupture.scale = 0 480px 768px 1024px 1224px 1824px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
