$color-background-body = #ffffff;

$color-primary = #435ce2;
$color-secondary = #ff0060;

$color-red = #ff2d2d;
$color-orange = #ff8f17;
$color-yellow = #ffbd00;
$color-green = #06c78a;
$color-teal = #00b1a1;
$color-blue = #1d7aff;
$color-violet = #af00e8;
$color-purple = #670ef5;
$color-pink = #fb0c92;
$color-brown = #ab5b33;

$color-ash = #6b6c6e;
$color-smoke = #e3e7eb;
$color-white = #ffffff;
$color-black = #000000;
$color-grey = #53565a;
$color-grey-light = #f8f8f8;
$color-greay-dark = #787878;

$color-text-header = #252525;
$color-text-default = #555555;
$color-text-light = #757575;
$color-text-muted = #959595;
$color-text-code = #252525;

$color-link = #555555;
$color-link-hover = #252525

$color-border = #e3e7eb;
$color-border-info = lighten($color-blue, 10%);
$color-border-warning = lighten($color-yellow, 10%);
$color-border-important = lighten($color-red, 10%);
$color-border-success = lighten($color-green, 10%);
