$colorBodyBackground = #ffffff

$colorPrimary = #435ce2
$colorSecondary = #ff0060

$colorRed = #ff2d2d
$colorOrange = #ff8f17
$colorYellow = #ffbd00
$colorGreen = #06c78a
$colorTeal = #00b1a1
$colorBlue = #1d7aff
$colorViolet = #af00e8
$colorPurple = #670ef5
$colorPink = #fb0c92
$colorBrown = #ab5b33

$colorAsh = #6b6c6e
$colorSmoke = #e3e7eb
$colorWhite = #ffffff
$colorBlack = #000000
$colorGrey = #53565a
$colorLightGrey = #f8f8f8
$colorDarkGrey = #787878

$colorTextHeader = #252525
$colorTextDefault = #555555
$colorTextLight = #757575
$colorTextMuted = #959595
$colorTextCode = #252525

$colorLink = #555555
$colorLinkHover = #252525

$colorBorder = #e3e7eb
$colorBorderInfo = lighten($colorBlue, 10%)
$colorBorderWarning = lighten($colorYellow, 10%)
$colorBorderImportant = lighten($colorRed, 10%)
$colorBorderSuccess = lighten($colorGreen, 10%)
