$border-radius-none = 0
$border-radius-s = 2px
$border-radius-m = 4px
$border-radius-l = 8px
$border-radius-circle = 50%

$box-shadow-distant = 0 4px 12px rgba(0,0,0,0.1)
$box-shadow-close = #fff
$box-shadow-subtle = #fff
$box-shadow-emboss = #fff
$box-shadow-deboss = #fff
$box-shadow-raise = #fff

$page-width = 1124px
$page-padding = 1rem

$grid-padding = 15px
$grid-length = 12

$animation-duration-0 = 0s
$animation-duration-s= .08s
$animation-duration-m = .18s
$animation-duration-l = .3s
$animation-duration-xl = .5s
$animation-duration-xxl = .8s
$animation-duration-xxxl = 1.2s

rupture.base-font-size = 15px
rupture.anti-overlap = true

rupture.scale = 0 480px 768px 1024px 1224px 1824px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'xxl'
