$borderRadiusNone = 0
$borderRadiusS = 2px
$borderRadiusM = 4px
$borderRadiusL = 8px
$borderRadiusCircle = 50%

$boxShadowDistant = #fff
$boxShadowClose = #fff
$boxShadowSubtle = #fff
$boxShadowEmboss = #fff
$boxShadowDeboss = #fff
$boxShadowRaise = #fff

$pageWidth = 1124px
$pagePadding = 1rem

$gridPadding = 15px
$gridLength = 12

$animationDuration0 = 0s
$animationDurationS = .08s
$animationDurationM = .18s
$animationDurationL = .3s
$animationDurationXL = .5s
$animationDurationXXL = .8s
$animationDurationXXXL = 1.2s

rupture.base-font-size = 15px
rupture.anti-overlap = true

rupture.scale = 0 480px 768px 1024px 1224px 1824px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'xxl'
