$font-family-standard = 'Inter UI', sans-serif
$font-family-code = 'Roboto Mono', 'Consolas', 'Monaco', 'Lucida Console', monospace

$font-size-h1 = 2.875rem
$font-size-h2 = 2.375rem
$font-size-h3 = 1.75rem
$font-size-h4 = 1.125rem
$font-size = 16px
$font-size-small = .875rem
$font-size-tiny = .75rem

$font-size-button = $font-size
$font-size-buttonTiny = .7em
$font-size-buttonSmall = .9em
$font-size-buttonMedium = 1.1em
$font-size-buttonLarge = 1.3em

$font-weight-book = 400
$font-weight-semibold = 500
$font-weight-bold = 600
