$fontFamilyStandard = 'Inter UI', sans-serif
$fontFamilyCode = 'Roboto Mono', 'Consolas', 'Monaco', 'Lucida Console', monospace

$fontSizeH1 = 2.875rem
$fontSizeH2 = 2.375rem
$fontSizeH3 = 1.75rem
$fontSizeH4 = 1.125rem
$fontSize = 16px
$fontSizeSmall = .875rem
$fontSizeTiny = .75rem

$fontSizeButton = $fontSizeM
$fontSizeButtonTiny = .7em
$fontSizeButtonSmall = .9em
$fontSizeButtonMedium = 1.1em
$fontSizeButtonLarge = 1.3em

$fontWeightBook = 400
$fontWeightSemiBold = 500
$fontWeightBold = 600
