.menu
	width 100%
	cf()
	&.panel
		position relative
		background-color #fff
		box-shadow 0 1px 2px 0 box-shadow-gray
		border 1px solid border-gray
		border-radius border-radius-normal
		overflow hidden
		&.borderless
			border 1px solid border-gray !important
			.item
				border 0 !important
		.item
			padding .8em 1.1em
			margin 0 !important
			border-right 1px solid border-gray
			&.active
				background-color background-lighter-gray
			&:hover
				background-color background-lighter-gray
		&.vertical
			.item
				border 0
				display block
				& + .item
					border-top 1px solid border-gray
	.item
		display inline-block
		position relative
		padding .7em 1.1em
		color text-grey
		cursor pointer
		.label
			padding 0.35em 0.52em
			margin -0.35em -0.52em
			margin-left .8em
		& + .item
			margin-left .4em
	&.vertical
		width 15em
		&:not(.panel)
			.item
				display block
				& + .item
					margin .4em 0 0 0 !important
	&.underlined
		&.show
			border-bottom 2px solid border-gray
			.item
				margin 0 0 -2px 0
		.item
			padding .85em 1.14em
			&.active
				border-bottom 2px text-grey solid
				color text-grey
				font-weight 700
		&.vertical
			&.show
				border 0
				border-right 2px solid border-gray
				.item
					margin 0 -2px 0 0
			.item
				padding .65em 1.14em
				.label
					float right
					margin-right .3em
				&.active
					border 0
					border-right 2px text-grey solid
	&.pills
		.item
			border-radius border-radius-normal
			&.active
				background-color background-lighter-gray
			&:hover
				background-color background-lighter-gray
