.table
	width 100%
	border-radius border-radius-normal
	border 1px solid border-gray
	border-collapse separate
	&.striped
		tr:nth-child(2n)
			background-color background-lightest-gray
	&.simple
		th
			background-color transparent
	&.basic
		border 0
		th
			background-color transparent
	&.cells
		th
			border-left 1px solid border-gray
			&:first-child
				border-left 0
		tr
			td
				border-left 1px solid border-gray
				&:first-child
					border-left 0
	th
		padding 1em
		background-color background-lighter-gray
		font-weight 600
		border-bottom 1px solid border-gray
	tr
		td
			padding 0.8em 1em
			border-bottom 1px solid border-gray
			line-height 1.375em
			i
				margin-right .4em
				opacity .6
		&:last-child
			td
				border-bottom 0
