@import 'jeet'
@import 'nib'
@import 'rupture'

.block-grey
	width 100%
	height 190px
	background-color #e0e1e2

.show-grid > [class^='clm-']
	padding-top 15px

.show-tables > .table
	margin 20px 0

.show-input > .input
	margin 10px 0

.show-cards
	margin 12px 0
	& > .card:not(.fluid)
		margin-right 20px

.show-lists > .list
	margin 20px 0

.show-progress > .progress
	margin 6px 0

.module.example
	img + img
		margin-top 2em
	.loader
		align(both)

.stages
	margin-top 20px
