@import 'jeet'
@import 'nib'
@import 'rupture'
@import 'light/variables'

.block-grey
	width 100%
	height 40px
	background-color #e0e1e2
	border-radius 4px

.show-grid > [class^='clm-']
	padding-top 15px

.show-tables > .table
	margin 20px 0

.show-input > .input
	margin 10px 0

.show-cards
	margin 12px 0
	& > .card:not(.fluid)
		margin-right 20px

.show-lists > .list
	margin 20px 0 0 0

.show-progress > .progress
	margin 6px 0

.example.loaders
	.module
		img + img
			margin-top 2em
		.hold
			align(both)

.stages
	margin-top 20px

.labels
	.label + .label
		margin-left 8px

.y-block
	background-color #FFC82C
	width 100px
	height 100px
	border-radius 3px
	display block
	content ''

.example
	& + .example
		margin-top 40px
		padding-top 40px
		border-top 1px solid border-gray
	.explanation
		margin-bottom 15px
		h6
			font-weight 400
		p
			color text-lighter-grey
			margin-top 6px

	&.buttons
		.button
			margin-top 10px
			margin-right .6em

.sidebar.top, .subbar
	background-color #202020
	padding 17px 0
	z-index 2100
	.logo, .sub
		float left
		display inline-block
		vertical-align top
		img
			max-height 13px
			absolute top 1px
		p
			color #fff
			margin 0
	.links
		float right
		display inline-block
		vertical-align top
		& > *
			display inline-block
			vertical-align top
		li
			& + li
				margin-left 23px
			a
				color #fff
				opacity 0.4
				cursor pointer
				&:hover
					opacity 0.6
			&.active
				a
					opacity 1

.subbar
	top 49px
	background-color #333
	padding 13px 0
	color #fff
	width 100%
	z-index 1900
	.sub
		font-size .9em

	.link
		font-size .9em
		margin 0
		padding 0
		line-height 1em
		float right
		a
			color #fff
			opacity .6
			&:hover
				opacity 1
			i
				margin-right 4px

aside.sidebar
	width 30%
	max-width 170px
	absolute left 1em
	float right
	h6
		margin 0 0 .5em 0
	li
		padding .4em 0
		display block
		&.active
			a
				color color-primary
				opacity 1
		a
			color text-grey
			opacity .6

.main-content
	margin-top 130px
	position relative
	span(1/1)
	.page
		font-size 1em
		span(1/1)
		padding-bottom 60px

.sidebar
	& + .page
		padding-left 210px
		+below('m')
			padding-left 0

.outer-title
	span(1/1)
	border-bottom 1px solid border-gray
	padding-bottom 28px
	margin-bottom 40px
	h4
		font-weight 400
	p
		color text-lighter-grey
		margin-top 11px
