-fn = './../themes/' + $theme + '/' + getFilename() + '/style';

@import -fn if exists(-fn);

$form ?= {}

$form.input = {
    background-color: $color-white
    border-color: $color-border
    border-color--focus: $color-base
    border-radius: $border-radius-m
    border-width: 1px
    color: $color-text-body
    color--muted: $color-text-muted
    box-shadow: $box-shadow-form
    padding: 14px 18px
    transition: $animation-type-ease $animation-duration-m
}

.input
    position: relative;
    font-style: normal;

    input[type="text"], input[type="number"], input[type="password"], textarea
        font-family: $font-family-standard;
        font-size: $font-size;
        outline: 0;
        border: 0;
        min-width: 220px;
        text-align: left;
        line-height: $line-height;
        color: $form.input.color;
        background-color: $form.input.background-color;
        border: $form.input.border-width solid $form.input.border-color;
        border-radius: $form.input.border-radius;
        box-shadow: $form.input.box-shadow;
        padding: $form.input.padding;
        transition: border-color $form.input.transition
        &:focus
            border-color: $form.input.border-color--focus;
        +inputPlaceholder()
            color: $form.input.color--muted;

    &.transparent
        input[type="text"], input[type="number"], input[type="password"], textarea
            border: 0;
            padding: 0;
            margin: 0;
            background-color: transparent;

    +disabled()
        input[type="text"], input[type="number"], input[type="password"], textarea
            color: $form.input.color--muted;

    textarea
        resize: vertical;
        min-height: 8rem;
        max-height: 12rem;
