ifExists(getFilename(),$theme);
$background-color = $color-white;
$border-color = $color-border;
$border-width = 1px;

.table
    border: $border-width solid $border-color;
    border-collapse: separate;
    border-radius: $border-radius;

    th
        padding: .5em 1em;
        border-bottom: $border-width solid $border-color;
        font-weight: $font-weight-semibold;

    td
        padding: .5em 1em;
        border-bottom: $border-width solid $border-color;

    &:last-child td
        border-bottom: 0;

    &.basic
        border: 0;

        th, tr
            background-color: transparent;

    &.cells
        th, tr td
            border-left: $border-width solid $border-color;

            &:first-child
                border-left: 0;

    &.simple
        th
            background-color: transparent;

    &.striped
        tr
            &:nth-child(2n)
                background-color: $color-grey-light;
