$animation-duration-0 = 0s;
$animation-duration-s= .08s;
$animation-duration-m = .14s;
$animation-duration-l = .3s;
$animation-duration-xl = .5s;
$animation-duration-xxl = .8s;
$animation-duration-xxxl = 1.2s;

$animation-type-ease = ease;
