$colors = 'red' 'orange' 'yellow' 'green' 'blue' 'purple' 'pink' 'black' 'base';

$color-background-body = #ffffff;

$color-base = #432DEC;
$color-red = #f7233f;
$color-orange = #ef853f;
$color-yellow = #ECCA0B;
$color-green = #08c46f;
$color-blue = #40a2f1;
$color-purple = #5b02ea;
$color-pink = #f0027e;
$color-white = #ffffff;
$color-black = #000000;

$bg-color-dark = #252525;
$bg-color-ash = #5E636C;
$bg-color-gray = #e3e5e7;
$bg-color-light = #f3f5f7;

$color-text-header = rgba(0,0,31,.9);
$color-text-body = rgba(0,0,31,.8);
$color-text-light = rgba(0,0,31,.6);
$color-text-muted = rgba(0,0,31,.4);

$color-border = #F3F3F3;
$color-border-info = lighten($color-blue, 10%);
$color-border-warning = lighten($color-yellow, 10%);
$color-border-important = lighten($color-red, 10%);
$color-border-success = lighten($color-green, 10%);

$box-shadow-distant = 0 4px 12px rgba(0, 0, 0, .1);
$box-shadow-close = 0px 2px 3px 0px rgba(0, 0, 0, .1);
$box-shadow-subtle = 0 1px 2px 0 rgba(0, 0, 0, .2);
$box-shadow-form = 0 2px 2px 0 rgba(0,0,20,0.015), 0 0 0 1px rgba(0,0,20,0.0075)
$box-shadow-emboss = #fff;
$box-shadow-deboss = #fff;
$box-shadow-raise = #fff;
