$colors = 'red' 'orange' 'yellow' 'green' 'teal' 'blue' 'violet' 'purple' 'pink' 'brown' 'grey' 'black' 'primary';

$color-background-body = #ffffff;

$color-primary = #2143ff;
$color-secondary = #ff0060;

$color-red = #f41835;
$color-orange = #ff7914;
$color-yellow = #fcc114;
$color-green = #08c46f;
$color-teal = #03abaf;
$color-blue = #1967f4;
$color-violet = #9911ca;
$color-purple = #5b02ea;
$color-pink = #f0027e;
$color-brown = #812b01;

$color-ash = #6b6b6b;
$color-smoke = #dddddd;
$color-white = #ffffff;
$color-black = #000000;
$color-grey = #606060;
$color-grey-light = #f8f8f8;
$color-grey-dark = #787878;

$color-text-header = #151515;
$color-text-default = #353535;
$color-text-light = #555555;
$color-text-muted = #757575;
$color-text-code = #252525;

$color-link = #555555;
$color-link-hover = #252525

$color-border = #c5c5c5;
$color-border-info = lighten($color-blue, 10%);
$color-border-warning = lighten($color-yellow, 10%);
$color-border-important = lighten($color-red, 10%);
$color-border-success = lighten($color-green, 10%);

$box-shadow-distant = 0 4px 12px rgba(0, 0, 0, .1);
$box-shadow-close = 0px 2px 3px 0px rgba(0, 0, 0, .1);
$box-shadow-subtle = 0 1px 2px 0 rgba(0, 0, 0, .2);
$box-shadow-emboss = #fff;
$box-shadow-deboss = #fff;
$box-shadow-raise = #fff;
