$theme = 'default';

$border-radius-none = 0;
$border-radius-s = 2px;
$border-radius-m = 4px;
$border-radius-l = 8px;
$border-radius-circle = 50%;

$page-width = 1124px;
$page-padding = 1rem;

$generic-sizes = 'tiny' 'small' 'medium' 'large';

$color-variation = 18%;
$scale-names = 'xs' 's' 'm' 'l' 'xl' 'xxl';

rupture.base-font-size = 15px;
rupture.anti-overlap = true;

rupture.scale = 0 480px 768px 1024px 1224px 1824px;
rupture.scale-names = $scale-names;
