$font-family-standard = 'Inter UI', sans-serif;
$font-family-code = 'Roboto Mono', 'Consolas', 'Monaco', 'Lucida Console', monospace;

$font-size-h1 = 2.875em;
$font-size-h2 = 2.375em;
$font-size-h3 = 1.75em;
$font-size-h4 = 1.325em;
$font-size-h5 = 1.125em;
$font-size = 17px;

$font-size-tiny = .75em;
$font-size-small = .875em;
$font-size-medium = $font-size-h5;
$font-size-large = $font-size-h4;

$font-weight-book = 400;
$font-weight-semibold = 500;
$font-weight-bold = 600;

$line-height = 1.42em;
