font-size-hero = 1.2em;
font-size-label = .76rem;
font-size-small = .86rem;
font-size-code = .86rem;
font-size-standard = 16px;
font-size-h1 = 3.8em;
font-size-h2 = 2.4em;
font-size-h3 = 2em;
font-size-h4 = 1.6em;
font-size-h5 = 1.4em;
font-size-h6 = 1.2em;
font-family-standard = 'Inter UI', sans-serif;
font-family-code = 'Roboto Mono', 'Consolas', 'Monaco', 'Lucida Console', monospace;
button-small-fontsize = .86rem;
button-medium-fontsize = 1.2rem;
button-large-fontsize = 1.34rem;
button-big-fontsize = 1.5rem;
button-small-padding = .65em 1.8em;
button-medium-padding = .75em 1.8em;
button-large-padding = .85em 2em;
button-big-padding = .95em 2.2em;
tooltip-tiny = .72rem;
tooltip-small = .86rem;
tooltip-medium = 1.1rem;
tooltip-large = 1.4rem;
tooltip-big = 1.8rem;
