-fn = './../themes/' + $theme + '/' + getFilename() + '/style';

@import -fn if exists(-fn);

$list ?= {
    color: $color-text-body
    font-size: $font-size
    line-height: $line-height
    margin: .5rem 0 0 0
    padding: 0 0 0 1rem
}

$list.item = {
    line-height: $line-height
    margin: 0 0 .5rem 0
}

$list.item.header = {
    font-weight: $font-weight-semibold
}

$list.counter = {
    opacity: .6
    margin-bottom: .8rem
}

$list.bullet = {
    opacity: .6
    margin: 0 0 0 -1rem
}

$list.divided = {
    padding: .8rem 0
}

.list
    & .list
        margin: $list.margin;
        padding: $list.padding;
    li, .item
        color: $list.color;
        font-size: $list.font-size;
        line-height: $list.item.line-height;
        margin: $list.item.margin;
        & > .header
            display: block;
            font-weight: $list.item.header.font-weight;

    &.ordered
        counter-reset: orderedListItem;
        .list
            counter-reset: orderedListItem;
        li, .item
            list-style: none;
            &:before
                counter-increment: orderedListItem;
                content: counters(orderedListItem, ".") " ";
                margin-right: .3rem;
                opacity: $list.counter.opacity;
                margin-bottom: $list.counter.margin-bottom;
                margin-right: $list.counter.margin-right;
        ol&
            li[value], .item[value]
                &:before
                    content: attr(value);
                    margin-right: .5rem;

    &.bulleted
        padding-left: 1rem;
        li, .item
            position: relative;
            &:before
                content: '\2022';
                absolute: left auto top;
                opacity: $list.bullet.opacity;
                margin: $list.bullet.margin;

    &.divided
        max-width: 36rem;
        &.block
            max-width: none;
            width: 100%;
        li, .item
            margin: 0;
            padding: $list.divided.padding;
            border-bottom: 1px solid $color-border;
            a
                display: inline-block;
                float: right;

    &.horizontal
        li, .item
            margin: 0;
            display: inline-block;
            & + li, & + .item
                margin-left: 1.5rem
