@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900,400italic");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  font-size: 15px;
  color: #212121;
}
h1 {
  font-size: 3em;
  font-weight: 600;
}
h2 {
  font-size: 2.6em;
  font-weight: 600;
}
h3 {
  font-size: 2.2em;
  font-weight: 600;
}
h4 {
  font-size: 1.8em;
  font-weight: 600;
}
h5 {
  font-size: 1.4em;
  font-weight: 600;
}
h6 {
  font-size: 1.08em;
  font-weight: 600;
}
::selection {
  color: #000;
  background-color: #d0ecfc;
}
a {
  color: #129fee;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #0d77b3;
}
.clm-xs-1,
.clm-xs-2,
.clm-xs-3,
.clm-xs-4,
.clm-xs-5,
.clm-xs-6,
.clm-xs-7,
.clm-xs-8,
.clm-xs-9,
.clm-xs-10,
.clm-xs-11,
.clm-xs-12,
.clm-s-1,
.clm-s-2,
.clm-s-3,
.clm-s-4,
.clm-s-5,
.clm-s-6,
.clm-s-7,
.clm-s-8,
.clm-s-9,
.clm-s-10,
.clm-s-11,
.clm-s-12,
.clm-m-1,
.clm-m-2,
.clm-m-3,
.clm-m-4,
.clm-m-5,
.clm-m-6,
.clm-m-7,
.clm-m-8,
.clm-m-9,
.clm-m-10,
.clm-m-11,
.clm-m-12,
.clm-l-1,
.clm-l-2,
.clm-l-3,
.clm-l-4,
.clm-l-5,
.clm-l-6,
.clm-l-7,
.clm-l-8,
.clm-l-9,
.clm-l-10,
.clm-l-11,
.clm-l-12,
.clm-xl-1,
.clm-xl-2,
.clm-xl-3,
.clm-xl-4,
.clm-xl-5,
.clm-xl-6,
.clm-xl-7,
.clm-xl-8,
.clm-xl-9,
.clm-xl-10,
.clm-xl-11,
.clm-xl-12,
.clm-hd-1,
.clm-hd-2,
.clm-hd-3,
.clm-hd-4,
.clm-hd-5,
.clm-hd-6,
.clm-hd-7,
.clm-hd-8,
.clm-hd-9,
.clm-hd-10,
.clm-hd-11,
.clm-hd-12 {
  padding: 0 1em;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  margin-left: 0%;
  margin-right: 0%;
}
.clm-xs-1:before,
.clm-xs-2:before,
.clm-xs-3:before,
.clm-xs-4:before,
.clm-xs-5:before,
.clm-xs-6:before,
.clm-xs-7:before,
.clm-xs-8:before,
.clm-xs-9:before,
.clm-xs-10:before,
.clm-xs-11:before,
.clm-xs-12:before,
.clm-s-1:before,
.clm-s-2:before,
.clm-s-3:before,
.clm-s-4:before,
.clm-s-5:before,
.clm-s-6:before,
.clm-s-7:before,
.clm-s-8:before,
.clm-s-9:before,
.clm-s-10:before,
.clm-s-11:before,
.clm-s-12:before,
.clm-m-1:before,
.clm-m-2:before,
.clm-m-3:before,
.clm-m-4:before,
.clm-m-5:before,
.clm-m-6:before,
.clm-m-7:before,
.clm-m-8:before,
.clm-m-9:before,
.clm-m-10:before,
.clm-m-11:before,
.clm-m-12:before,
.clm-l-1:before,
.clm-l-2:before,
.clm-l-3:before,
.clm-l-4:before,
.clm-l-5:before,
.clm-l-6:before,
.clm-l-7:before,
.clm-l-8:before,
.clm-l-9:before,
.clm-l-10:before,
.clm-l-11:before,
.clm-l-12:before,
.clm-xl-1:before,
.clm-xl-2:before,
.clm-xl-3:before,
.clm-xl-4:before,
.clm-xl-5:before,
.clm-xl-6:before,
.clm-xl-7:before,
.clm-xl-8:before,
.clm-xl-9:before,
.clm-xl-10:before,
.clm-xl-11:before,
.clm-xl-12:before,
.clm-hd-1:before,
.clm-hd-2:before,
.clm-hd-3:before,
.clm-hd-4:before,
.clm-hd-5:before,
.clm-hd-6:before,
.clm-hd-7:before,
.clm-hd-8:before,
.clm-hd-9:before,
.clm-hd-10:before,
.clm-hd-11:before,
.clm-hd-12:before,
.clm-xs-1:after,
.clm-xs-2:after,
.clm-xs-3:after,
.clm-xs-4:after,
.clm-xs-5:after,
.clm-xs-6:after,
.clm-xs-7:after,
.clm-xs-8:after,
.clm-xs-9:after,
.clm-xs-10:after,
.clm-xs-11:after,
.clm-xs-12:after,
.clm-s-1:after,
.clm-s-2:after,
.clm-s-3:after,
.clm-s-4:after,
.clm-s-5:after,
.clm-s-6:after,
.clm-s-7:after,
.clm-s-8:after,
.clm-s-9:after,
.clm-s-10:after,
.clm-s-11:after,
.clm-s-12:after,
.clm-m-1:after,
.clm-m-2:after,
.clm-m-3:after,
.clm-m-4:after,
.clm-m-5:after,
.clm-m-6:after,
.clm-m-7:after,
.clm-m-8:after,
.clm-m-9:after,
.clm-m-10:after,
.clm-m-11:after,
.clm-m-12:after,
.clm-l-1:after,
.clm-l-2:after,
.clm-l-3:after,
.clm-l-4:after,
.clm-l-5:after,
.clm-l-6:after,
.clm-l-7:after,
.clm-l-8:after,
.clm-l-9:after,
.clm-l-10:after,
.clm-l-11:after,
.clm-l-12:after,
.clm-xl-1:after,
.clm-xl-2:after,
.clm-xl-3:after,
.clm-xl-4:after,
.clm-xl-5:after,
.clm-xl-6:after,
.clm-xl-7:after,
.clm-xl-8:after,
.clm-xl-9:after,
.clm-xl-10:after,
.clm-xl-11:after,
.clm-xl-12:after,
.clm-hd-1:after,
.clm-hd-2:after,
.clm-hd-3:after,
.clm-hd-4:after,
.clm-hd-5:after,
.clm-hd-6:after,
.clm-hd-7:after,
.clm-hd-8:after,
.clm-hd-9:after,
.clm-hd-10:after,
.clm-hd-11:after,
.clm-hd-12:after {
  display: table;
  content: '';
}
.clm-xs-1:after,
.clm-xs-2:after,
.clm-xs-3:after,
.clm-xs-4:after,
.clm-xs-5:after,
.clm-xs-6:after,
.clm-xs-7:after,
.clm-xs-8:after,
.clm-xs-9:after,
.clm-xs-10:after,
.clm-xs-11:after,
.clm-xs-12:after,
.clm-s-1:after,
.clm-s-2:after,
.clm-s-3:after,
.clm-s-4:after,
.clm-s-5:after,
.clm-s-6:after,
.clm-s-7:after,
.clm-s-8:after,
.clm-s-9:after,
.clm-s-10:after,
.clm-s-11:after,
.clm-s-12:after,
.clm-m-1:after,
.clm-m-2:after,
.clm-m-3:after,
.clm-m-4:after,
.clm-m-5:after,
.clm-m-6:after,
.clm-m-7:after,
.clm-m-8:after,
.clm-m-9:after,
.clm-m-10:after,
.clm-m-11:after,
.clm-m-12:after,
.clm-l-1:after,
.clm-l-2:after,
.clm-l-3:after,
.clm-l-4:after,
.clm-l-5:after,
.clm-l-6:after,
.clm-l-7:after,
.clm-l-8:after,
.clm-l-9:after,
.clm-l-10:after,
.clm-l-11:after,
.clm-l-12:after,
.clm-xl-1:after,
.clm-xl-2:after,
.clm-xl-3:after,
.clm-xl-4:after,
.clm-xl-5:after,
.clm-xl-6:after,
.clm-xl-7:after,
.clm-xl-8:after,
.clm-xl-9:after,
.clm-xl-10:after,
.clm-xl-11:after,
.clm-xl-12:after,
.clm-hd-1:after,
.clm-hd-2:after,
.clm-hd-3:after,
.clm-hd-4:after,
.clm-hd-5:after,
.clm-hd-6:after,
.clm-hd-7:after,
.clm-hd-8:after,
.clm-hd-9:after,
.clm-hd-10:after,
.clm-hd-11:after,
.clm-hd-12:after {
  clear: both;
}
.contain {
  *zoom: 1;
  width: auto;
  max-width: 970px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.contain:before,
.contain:after {
  content: '';
  display: table;
}
.contain:after {
  clear: both;
}
.bind {
  height: 100%;
  width: 100%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-justify:after {
  display: inline-block;
  content: '';
  width: 100%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-reset {
  float: none;
}
.align-top {
  vertical-align: top;
  display: inline-block;
}
.align-middle {
  vertical-align: middle;
  display: inline-block;
}
.align-bottom {
  vertical-align: bottom;
  display: inline-block;
}
.align-center {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.align-horizontal {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.align-vertical {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.row {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.grid-row {
  margin: 0 -15px;
}
.grid-row:before,
.grid-row:after {
  display: table;
  content: '';
}
.grid-row:after {
  clear: both;
}
@media only screen {
  .clm-xs-1 {
    width: 8.333333333333332%;
  }
}
@media only screen {
  .clm-xs-2 {
    width: 16.666666666666664%;
  }
}
@media only screen {
  .clm-xs-3 {
    width: 25%;
  }
}
@media only screen {
  .clm-xs-4 {
    width: 33.33333333333333%;
  }
}
@media only screen {
  .clm-xs-5 {
    width: 41.66666666666667%;
  }
}
@media only screen {
  .clm-xs-6 {
    width: 50%;
  }
}
@media only screen {
  .clm-xs-7 {
    width: 58.333333333333336%;
  }
}
@media only screen {
  .clm-xs-8 {
    width: 66.66666666666666%;
  }
}
@media only screen {
  .clm-xs-9 {
    width: 75%;
  }
}
@media only screen {
  .clm-xs-10 {
    width: 83.33333333333334%;
  }
}
@media only screen {
  .clm-xs-11 {
    width: 91.66666666666666%;
  }
}
@media only screen {
  .clm-xs-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-1 {
    width: 8.333333333333332%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-2 {
    width: 16.666666666666664%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-4 {
    width: 33.33333333333333%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-5 {
    width: 41.66666666666667%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-7 {
    width: 58.333333333333336%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-8 {
    width: 66.66666666666666%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-9 {
    width: 75%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-10 {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-11 {
    width: 91.66666666666666%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-1 {
    width: 8.333333333333332%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-2 {
    width: 16.666666666666664%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-4 {
    width: 33.33333333333333%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-5 {
    width: 41.66666666666667%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-7 {
    width: 58.333333333333336%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-8 {
    width: 66.66666666666666%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-9 {
    width: 75%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-10 {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-11 {
    width: 91.66666666666666%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-1 {
    width: 8.333333333333332%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-2 {
    width: 16.666666666666664%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-4 {
    width: 33.33333333333333%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-5 {
    width: 41.66666666666667%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-7 {
    width: 58.333333333333336%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-8 {
    width: 66.66666666666666%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-9 {
    width: 75%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-10 {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-11 {
    width: 91.66666666666666%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-1 {
    width: 8.333333333333332%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-2 {
    width: 16.666666666666664%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-4 {
    width: 33.33333333333333%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-5 {
    width: 41.66666666666667%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-7 {
    width: 58.333333333333336%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-8 {
    width: 66.66666666666666%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-9 {
    width: 75%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-10 {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-11 {
    width: 91.66666666666666%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-1 {
    width: 8.333333333333332%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-2 {
    width: 16.666666666666664%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-4 {
    width: 33.33333333333333%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-5 {
    width: 41.66666666666667%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-7 {
    width: 58.333333333333336%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-8 {
    width: 66.66666666666666%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-9 {
    width: 75%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-10 {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-11 {
    width: 91.66666666666666%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-12 {
    width: 100%;
  }
}
.nogutter {
  padding: 0;
}
.reverse-grid > [class^='clm-'] {
  float: right;
}
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown.open .menu {
  display: block;
}
.dropdown .toggle {
  color: #2185d0;
}
.dropdown .menu {
  background-color: #fff;
  position: absolute;
  top: 25px;
  left: 0;
  border: 1px solid #e1e5e9;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  min-width: 180px;
  z-index: 2000;
  display: none;
  -webkit-box-shadow: 0 2px 3px 0 rgba(34,36,38,0.15);
  box-shadow: 0 2px 3px 0 rgba(34,36,38,0.15);
}
.dropdown li {
  font-size: 15px;
  display: block;
}
.dropdown li:first-child a {
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.dropdown li:last-child a {
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.dropdown li:hover a {
  background-color: #f2f3f5;
}
.dropdown li a {
  color: #212121;
  display: block;
  padding: 0.6em 1.06em;
}
.dropdown.right .menu {
  left: auto;
  right: 0;
}
.dropdown .sub {
  left: 180px;
}
.table {
  width: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e5e9;
  border-collapse: separate;
}
.table.stripes tr:nth-child(2n) {
  background-color: #f9f9fa;
}
.table.simple th {
  background-color: transparent;
}
.table.basic {
  border: 0;
}
.table.basic th {
  background-color: transparent;
}
.table.cells th {
  border-left: 1px solid #e1e5e9;
}
.table.cells th:first-child {
  border-left: 0;
}
.table.cells tr td {
  border-left: 1px solid #e1e5e9;
}
.table.cells tr td:first-child {
  border-left: 0;
}
.table th {
  padding: 1em;
  background-color: #f2f3f5;
  font-weight: 600;
  border-bottom: 1px solid #e1e5e9;
}
.table tr td {
  padding: 0.8em 1em;
  border-bottom: 1px solid #e1e5e9;
}
.table tr:last-child td {
  border-bottom: 0;
}
.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #505050;
  background-color: #e1e5e9;
  outline: 0;
  padding: 0 1.4em;
  text-align: center;
  border: 0;
  height: 2.467em;
  line-height: 2.467em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button.outlined {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 0px 1px #e1e5e9;
  box-shadow: inset 0px 0px 0px 1px #e1e5e9;
  color: #505050;
}
.button.outlined:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button.labeled {
  padding: 0 1.4em 0 4em;
}
.button.labeled i {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.6em;
  background-color: rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
  height: 100%;
  font-size: 1em;
  line-height: 2.467em;
}
.button.labeled.labeled-right {
  padding: 0 4em 0 1.4em;
}
.button.labeled.labeled-right i {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}
.button.icon {
  padding: 0 0.8275em;
}
.button:hover {
  color: #404040;
  background-color: #d6dce1;
  -webkit-box-shadow: inset 0 -2px 0 rgba(37,51,66,0.14);
  box-shadow: inset 0 -2px 0 rgba(37,51,66,0.14);
}
.button-primary {
  color: #fff;
  background-color: #129fee;
}
.button-primary:hover {
  color: #fff;
  background-color: #1097e3;
}
.button-red {
  color: #fff;
  background-color: #ff4949;
}
.button-red.outlined {
  color: #ff4949;
  -webkit-box-shadow: inset 0px 0px 0px 1px #ff4949;
  box-shadow: inset 0px 0px 0px 1px #ff4949;
}
.button-red:hover {
  color: #fff;
  background-color: #ff2f2f;
}
.button-orange {
  color: #fff;
  background-color: #ff7c1d;
}
.button-orange.outlined {
  color: #ff7c1d;
  -webkit-box-shadow: inset 0px 0px 0px 1px #ff7c1d;
  box-shadow: inset 0px 0px 0px 1px #ff7c1d;
}
.button-orange:hover {
  color: #fff;
  background-color: #ff6f06;
}
.button-yellow {
  color: #fff;
  background-color: #ffc82c;
}
.button-yellow.outlined {
  color: #ffc82c;
  -webkit-box-shadow: inset 0px 0px 0px 1px #ffc82c;
  box-shadow: inset 0px 0px 0px 1px #ffc82c;
}
.button-yellow:hover {
  color: #fff;
  background-color: #ffc214;
}
.button-green {
  color: #fff;
  background-color: #13ce66;
}
.button-green.outlined {
  color: #13ce66;
  -webkit-box-shadow: inset 0px 0px 0px 1px #13ce66;
  box-shadow: inset 0px 0px 0px 1px #13ce66;
}
.button-green:hover {
  color: #fff;
  background-color: #11be5e;
}
.button-teal {
  color: #fff;
  background-color: #00baa9;
}
.button-teal.outlined {
  color: #00baa9;
  -webkit-box-shadow: inset 0px 0px 0px 1px #00baa9;
  box-shadow: inset 0px 0px 0px 1px #00baa9;
}
.button-teal:hover {
  color: #fff;
  background-color: #00ab9b;
}
.button-blue {
  color: #fff;
  background-color: #2185d0;
}
.button-blue.outlined {
  color: #2185d0;
  -webkit-box-shadow: inset 0px 0px 0px 1px #2185d0;
  box-shadow: inset 0px 0px 0px 1px #2185d0;
}
.button-blue:hover {
  color: #fff;
  background-color: #1e7abf;
}
.button-violet {
  color: #fff;
  background-color: #6435c9;
}
.button-violet.outlined {
  color: #6435c9;
  -webkit-box-shadow: inset 0px 0px 0px 1px #6435c9;
  box-shadow: inset 0px 0px 0px 1px #6435c9;
}
.button-violet:hover {
  color: #fff;
  background-color: #5c31b9;
}
.button-purple {
  color: #fff;
  background-color: #a104e0;
}
.button-purple.outlined {
  color: #a104e0;
  -webkit-box-shadow: inset 0px 0px 0px 1px #a104e0;
  box-shadow: inset 0px 0px 0px 1px #a104e0;
}
.button-purple:hover {
  color: #fff;
  background-color: #9404ce;
}
.button-pink {
  color: #fff;
  background-color: #e03997;
}
.button-pink.outlined {
  color: #e03997;
  -webkit-box-shadow: inset 0px 0px 0px 1px #e03997;
  box-shadow: inset 0px 0px 0px 1px #e03997;
}
.button-pink:hover {
  color: #fff;
  background-color: #dd268d;
}
.button-brown {
  color: #fff;
  background-color: #ad5e37;
}
.button-brown.outlined {
  color: #ad5e37;
  -webkit-box-shadow: inset 0px 0px 0px 1px #ad5e37;
  box-shadow: inset 0px 0px 0px 1px #ad5e37;
}
.button-brown:hover {
  color: #fff;
  background-color: #9f5633;
}
.button-grey {
  color: #fff;
  background-color: #7e7e7e;
}
.button-grey.outlined {
  color: #7e7e7e;
  -webkit-box-shadow: inset 0px 0px 0px 1px #7e7e7e;
  box-shadow: inset 0px 0px 0px 1px #7e7e7e;
}
.button-grey:hover {
  color: #fff;
  background-color: #747474;
}
.button-black {
  color: #fff;
  background-color: #000;
}
.button-black.outlined {
  color: #000;
  -webkit-box-shadow: inset 0px 0px 0px 1px #000;
  box-shadow: inset 0px 0px 0px 1px #000;
}
.button-black:hover {
  color: #fff;
  background-color: #242424;
}
ul.list,
ol.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list {
  font-size: 1em;
}
.list li,
.list .item {
  padding: 0.22em 0;
  position: relative;
  line-height: 1.15em;
  display: list-item;
  table-layout: fixed;
}
.list li:after,
.list .item:after {
  display: block;
  content: '';
  height: 0;
  clear: both;
}
.list li a.header,
.list .item a.header {
  display: block;
}
.list li .header,
.list .item .header {
  font-weight: 600;
  line-height: 1.15em;
}
.list li .icon,
.list .item .icon {
  display: inline-block;
  vertical-align: middle !important;
  margin-right: 8px;
}
.list li .icon.large,
.list .item .icon.large {
  font-size: 1.6em;
  line-height: 1.4em;
}
.list li .content,
.list .item .content {
  display: inline-block;
  vertical-align: top;
}
.list.spaced li,
.list.spaced .item {
  padding: 0.4em 0;
}
.list.very-spaced li,
.list.very-spaced .item {
  padding: 0.8em 0;
}
.list.links > .item {
  opacity: 0.52;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=52)";
  filter: alpha(opacity=52);
  -webkit-transition: opacity 0.14s ease;
  -moz-transition: opacity 0.14s ease;
  -o-transition: opacity 0.14s ease;
  -ms-transition: opacity 0.14s ease;
  transition: opacity 0.14s ease;
}
.list.links > .item:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.list.links > .item.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.list.divided li:first-child,
.list.divided .item:first-child {
  border: none;
}
.list.divided li,
.list.divided .item {
  border-top: 1px solid #e3e3e7;
}
.list.ordered {
  counter-reset: item;
}
.list.ordered .list {
  counter-reset: item;
  padding: 0.55em 0 0.05em 0.5em;
}
.list.ordered li:before,
.list.ordered .item:before {
  counter-increment: item;
  content: counters(item, ".") " ";
  margin-right: 5px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.list.bulleted {
  padding-left: 1em;
}
.list.bulleted .item:before {
  content: '•';
  position: absolute;
  left: 0;
  auto: 0;
  top: 0;
  auto: 0;
  margin-left: -0.77em;
}
ol.ordered li[value]:before {
  content: attr(value);
}
.label {
  font-size: 0.875em;
  background-color: #e1e5e9;
  color: #5d5d5d;
  padding: 0.55em 0.72em;
  display: inline-block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: 600;
}
.label .detail {
  background-color: rgba(0,0,0,0.1);
  padding: 0.55em 0.72em;
  height: 100%;
  margin: -0.55em -0.72em -0.55em 0.72em;
  display: inline-block;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  vertical-align: top;
  float: right;
}
.label i {
  margin-right: 0.3em;
}
.label a {
  color: #757575;
  padding-left: 0.35em;
}
.label a:hover {
  color: #5e5e5e;
}
.label.red {
  color: #fff;
}
.label.orange {
  color: #fff;
}
.label.yellow {
  color: #fff;
}
.label.green {
  color: #fff;
}
.label.teal {
  color: #fff;
}
.label.blue {
  color: #fff;
}
.label.violet {
  color: #fff;
}
.label.purple {
  color: #fff;
}
.label.pink {
  color: #fff;
}
.label.brown {
  color: #fff;
}
.label.grey {
  color: #fff;
}
.label.black {
  color: #fff;
}
.image-mini img {
  width: 35px;
  height: auto;
}
.image-tiny img {
  width: 70px;
  height: auto;
}
.image-small img {
  width: 140px;
  height: auto;
}
.image-medium img {
  width: 280px;
  height: auto;
}
.image-large img {
  width: 400px;
  height: auto;
}
.image-big img {
  width: 600px;
  height: auto;
}
.image-huge img {
  width: 800px;
  height: auto;
}
.image-massive img {
  width: 940px;
  height: auto;
}
.divider {
  border-top: 1px solid rgba(37,38,41,0.15);
  border-bottom: 1px solid rgba(255,255,255,0.15);
  margin: 1em 0;
}
.message {
  padding: 0.875em 1.4em;
  background-color: #f8f8f9;
  border: 1px solid #e3e3e7;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 1em 0;
}
.message p {
  margin: 0;
}
.message h6 {
  font-weight: 600;
  margin: 0 0 0.3em 0;
}
.message-warning {
  background-color: #fffbee;
  border-color: #ffdf78;
  color: #694d00;
}
.message-important {
  background-color: #fff0f0;
  border-color: #ffabab;
  color: #730000;
}
.message-success {
  background-color: #eafdf3;
  border-color: #91f5c0;
  color: #074824;
}
.message-info {
  background-color: #ecf5fc;
  border-color: #87c0ec;
  color: #0c2f49;
}
.input {
  position: relative;
  font-size: 0;
  font-style: normal;
}
.input input[disabled],
.input.disabled {
  opacity: 0.45;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
  filter: alpha(opacity=45);
  cursor: default;
  pointer-events: none;
}
.input input,
.input textarea {
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  font-size: 15px;
  color: #212121;
  margin: 0;
  font-size: 15px;
  max-width: 100%;
  height: 2.467em;
  line-height: 2.467em;
  padding: 0.79em 1em;
  outline: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: left;
  border: 0;
  border: 1px solid #e1e5e9;
  -webkit-transition: border-color 0.14s ease;
  -moz-transition: border-color 0.14s ease;
  -o-transition: border-color 0.14s ease;
  -ms-transition: border-color 0.14s ease;
  transition: border-color 0.14s ease;
  min-width: 220px;
  background-color: #fff;
}
.input input:focus,
.input textarea:focus {
  border-color: #2185d0;
}
.input textarea {
  line-height: 1.2em;
  min-height: 3em;
  width: 100%;
  resize: vertical;
}
.input textarea:not([rows]) {
  min-height: 8em;
  max-height: 22em;
}
.input.transparent input {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.action input {
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  display: inline-block;
  vertical-align: top;
}
.action input + .button {
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}
.action .button {
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}
.action .button + input {
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  vertical-align: top;
}
.text-primary {
  color: #2185d0;
}
.text-red {
  color: #ff4949;
}
.text-orange {
  color: #ff7c1d;
}
.text-yellow {
  color: #ffc82c;
}
.text-green {
  color: #13ce66;
}
.text-teal {
  color: #00baa9;
}
.text-blue {
  color: #2185d0;
}
.text-violet {
  color: #6435c9;
}
.text-purple {
  color: #a104e0;
}
.text-pink {
  color: #e03997;
}
.text-brown {
  color: #ad5e37;
}
.text-grey {
  color: #7e7e7e;
}
.text-black {
  color: #000;
}
.red {
  background-color: #ff4949 !important;
}
.orange {
  background-color: #ff7c1d !important;
}
.yellow {
  background-color: #ffc82c !important;
}
.green {
  background-color: #13ce66 !important;
}
.teal {
  background-color: #00baa9 !important;
}
.blue {
  background-color: #2185d0 !important;
}
.violet {
  background-color: #6435c9 !important;
}
.purple {
  background-color: #a104e0 !important;
}
.pink {
  background-color: #e03997 !important;
}
.brown {
  background-color: #ad5e37 !important;
}
.grey {
  background-color: #7e7e7e !important;
}
.black {
  background-color: #000 !important;
}
.loader {
  width: 3.4em;
  height: 3.4em;
  position: relative;
  text-align: center;
  font-size: 1em;
  color: #fff;
  padding-top: 3.64em;
}
.loader:empty {
  width: 3em;
  height: 3em;
  padding-top: 0 !important;
}
.loader.disabled,
.loader.hidden {
  display: none;
}
.loader.inline {
  display: inline-block;
}
.loader.small {
  width: 3.3em;
  height: 3.3em;
  padding-top: 1.7em;
}
.loader.small:empty {
  width: 1.2em;
  height: 1.2em;
  padding-top: 0 !important;
}
.loader.small:before,
.loader.small:after {
  width: 1.2em;
  height: 1.2em;
}
.loader.large {
  width: 5em;
  height: 5em;
  padding-top: 5.7em;
}
.loader.large:empty {
  width: 5em;
  height: 5em;
  padding-top: 0 !important;
}
.loader.large:before,
.loader.large:after {
  width: 5em;
  height: 5em;
}
.loader.dark {
  color: #212121;
}
.loader.dark:before,
.loader.dark:after {
  background-color: #1e1a16;
}
.loader:before,
.loader:after {
  width: 3em;
  height: 3em;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e1e5e9;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  display: block;
  margin: 0 auto;
  content: '';
  -webkit-animation: double-bounce 2s infinite ease-in-out;
  -moz-animation: double-bounce 2s infinite ease-in-out;
  -o-animation: double-bounce 2s infinite ease-in-out;
  -ms-animation: double-bounce 2s infinite ease-in-out;
  animation: double-bounce 2s infinite ease-in-out;
}
.loader:after {
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -o-animation-delay: -1s;
  -ms-animation-delay: -1s;
  animation-delay: -1s;
}
.module {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(38,38,40,0.15);
  box-shadow: 0 1px 2px 0 rgba(38,38,40,0.15);
  border: 1px solid #e1e5e9;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 1em 0;
  padding: 1em;
}
.circular {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  min-width: 2.091em;
  min-height: 2em;
  line-height: 1em;
  text-align: center;
}
.cards {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.card {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(38,38,40,0.15);
  box-shadow: 0 1px 2px 0 rgba(38,38,40,0.15);
  border: 1px solid #e1e5e9;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 285px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card.fluid {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
.card.fluid:before,
.card.fluid:after {
  content: '';
  display: table;
}
.card.fluid:after {
  clear: both;
}
.card .image {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.card .image img {
  max-width: 100%;
}
.card .image.header img {
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.card .content {
  padding: 1em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.card .content:after {
  display: block;
  content: '';
  clear: both;
}
.card .content .header {
  font-size: 1.3em;
}
.card .content .sub {
  line-height: 1.5em;
  color: #8e8e8e;
}
.card .content p {
  margin-top: 0.6em;
  line-height: 1.3em;
  color: #5d5d5d;
}
.card .content.footer {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0.875em 1em;
  color: #8e8e8e;
  font-size: 0.925em;
  border-top: 1px solid #e9ebee;
}
.card .content.footer.button {
  padding: 0;
  text-align: center;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.card .content.footer i {
  margin-right: 5px;
  font-size: 0.84em;
}
.card .content.footer:before,
.card .content.footer:after {
  content: '';
  display: table;
}
.card .content.footer:after {
  clear: both;
}
.comments {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
.comments:before,
.comments:after {
  content: '';
  display: table;
}
.comments:after {
  clear: both;
}
.comments .comment {
  position: relative;
  margin-top: 0.8em;
  *zoom: 1;
}
.comments .comment:before,
.comments .comment:after {
  content: '';
  display: table;
}
.comments .comment:after {
  clear: both;
}
.comments .comment .comment {
  margin-left: -1.8em;
}
.comments .comment .avatar {
  width: 2.5em;
  height: 2.5em;
  height: auto;
  display: block;
  vertical-align: top;
  margin-top: 0.26em;
  float: left;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.comments .comment .avatar img {
  max-width: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.comments .comment .content {
  display: block;
  vertical-align: top;
  margin-left: 3.4em;
}
.comments .comment .content .actions {
  display: block;
  font-size: 0.875em;
  margin-top: 0.63em;
}
.comments .comment .content .actions .action {
  display: inline-block;
  vertical-align: top;
  color: #a6a6a6;
}
.comments .comment .content .actions .action + .action {
  margin-left: 0.6em;
}
.comments .comment .content .actions .action.active {
  color: #5d5d5d;
}
.comments .comment .content .actions .action:hover {
  color: #5d5d5d;
}
.comments .comment .content .meta {
  font-size: 0.875em;
  color: #8e8e8e;
  margin-left: 0.6em;
}
.comments .comment .content .creator {
  font-weight: 600;
  color: #212121 !important;
  line-height: 1.62em;
}
.comments .comment .content .creator:hover {
  color: #129fee;
}
.comments .comment .content .text {
  line-height: 1.14em;
}
.comments .reply {
  position: relative;
}
.comments .reply textarea {
  margin-top: 1em;
}
.comments .reply .button-group {
  margin-top: 1em;
}
.progress {
  background-color: #e1e5e9;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 1.7em;
  content: '';
}
.progress:before,
.progress:after {
  content: '';
  display: table;
}
.progress:after {
  clear: both;
}
.progress.tiny {
  height: 0.3em;
}
.progress.small {
  height: 0.8em;
}
.progress.large {
  height: 2.6em;
}
.progress .bar {
  height: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #4a5764;
  position: relative;
}
.progress .bar.show .status {
  display: block;
}
.progress .bar .status {
  color: #fff;
  position: absolute;
  right: 8px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  font-size: 0.875em;
  line-height: 1.9125em;
  display: none;
}
.stages {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e1e5e9;
}
.stages .stage {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  vertical-align: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  padding: 1em 2em;
  position: relative;
}
.stages .stage .header {
  display: block;
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 0.1em;
}
.stages .stage:last-child:before,
.stages .stage:last-child:after {
  display: none;
}
.stages .stage:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  border-left: 0.8em solid #fff;
  position: absolute;
  right: -0.55em;
  z-index: 900;
}
.stages .stage:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 0.6em solid transparent;
  border-bottom: 0.6em solid transparent;
  border-left: 0.6em solid #e1e5e9;
  position: absolute;
  right: -0.6em;
  z-index: 800;
}
.stages .stage + .stage {
  border-left: 1px solid #e1e5e9;
}
.stages .stage.disabled > * {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.stages .stage.completed i {
  color: #13ce66;
}
.stages .stage.active {
  background-color: #f2f3f5;
}
.stages .stage.active .header {
  color: #129fee;
}
.stages .stage.active:before {
  border-left-color: #f2f3f5;
}
.stages .stage .icon {
  margin-right: 1em;
}
.stages .stage .icon i {
  font-size: 2.2em;
}
.stages .stage .content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.dimmed {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 800;
  content: ' ';
  background-color: rgba(0,0,0,0.85);
  display: block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.dimmed.inverted {
  background-color: rgba(255,255,255,0.85);
}
.dimmed .loader {
  z-index: 900;
  display: block;
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-moz-keyframes double-bounce {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes double-bounce {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}
@-o-keyframes double-bounce {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes double-bounce {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}
@-moz-keyframes spring {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes spring {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes spring {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes spring {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.transitionDuration-0 {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
}
.transitionDuration-s {
  -webkit-transition-duration: 0.08s;
  -moz-transition-duration: 0.08s;
  -o-transition-duration: 0.08s;
  -ms-transition-duration: 0.08s;
  transition-duration: 0.08s;
}
.transitionDuration-m {
  -webkit-transition-duration: 1.4s;
  -moz-transition-duration: 1.4s;
  -o-transition-duration: 1.4s;
  -ms-transition-duration: 1.4s;
  transition-duration: 1.4s;
}
.transitionDuration-l {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.transitionDuration-xl {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.transitionDuration-xxl {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.transitionType-linear {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-timing-function: linear;
}
.transitionType-ease {
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  transition-timing-function: ease;
}
.transitionType-scaleIn {
  -webkit-transition-timing-function: cubic-bezier(0, 1.42, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0, 1.42, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0, 1.42, 0.44, 1);
  -ms-transition-timing-function: cubic-bezier(0, 1.42, 0.44, 1);
  transition-timing-function: cubic-bezier(0, 1.42, 0.44, 1);
}
.transitionType-scaleOut {
  -webkit-transition-timing-function: cubic-bezier(0.16, 0.86, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.16, 0.86, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.16, 0.86, 0.44, 1);
  -ms-transition-timing-function: cubic-bezier(0.16, 0.86, 0.44, 1);
  transition-timing-function: cubic-bezier(0.16, 0.86, 0.44, 1);
}
.transitionType-spring {
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -ms-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.transitionType-bounce {
  -webkit-transition-timing-function: cubic-bezier(0.04, 0.89, 0.76, 1.74);
  -moz-transition-timing-function: cubic-bezier(0.04, 0.89, 0.76, 1.74);
  -o-transition-timing-function: cubic-bezier(0.04, 0.89, 0.76, 1.74);
  -ms-transition-timing-function: cubic-bezier(0.04, 0.89, 0.76, 1.74);
  transition-timing-function: cubic-bezier(0.04, 0.89, 0.76, 1.74);
}
.animation-spin {
  -webkit-animation: spin 0.9s infinite linear;
  -moz-animation: spin 0.9s infinite linear;
  -o-animation: spin 0.9s infinite linear;
  -ms-animation: spin 0.9s infinite linear;
  animation: spin 0.9s infinite linear;
}
.animation-rotate {
  -webkit-animation: spin 3s 1s infinite cubic-bezier(0.04, 0.95, 0.17, 1);
  -moz-animation: spin 3s 1s infinite cubic-bezier(0.04, 0.95, 0.17, 1);
  -o-animation: spin 3s 1s infinite cubic-bezier(0.04, 0.95, 0.17, 1);
  -ms-animation: spin 3s 1s infinite cubic-bezier(0.04, 0.95, 0.17, 1);
  animation: spin 3s 1s infinite cubic-bezier(0.04, 0.95, 0.17, 1);
}
.animation-bounce {
  -webkit-animation: bounce 1.4s infinite cubic-bezier(0.04, 0.95, 0.17, 1);
  -moz-animation: bounce 1.4s infinite cubic-bezier(0.04, 0.95, 0.17, 1);
  -o-animation: bounce 1.4s infinite cubic-bezier(0.04, 0.95, 0.17, 1);
  -ms-animation: bounce 1.4s infinite cubic-bezier(0.04, 0.95, 0.17, 1);
  animation: bounce 1.4s infinite cubic-bezier(0.04, 0.95, 0.17, 1);
}
.animation-spring {
  -webkit-animation: spring 0.3s cubic-bezier(0.04, 0.95, 0.17, 1);
  -moz-animation: spring 0.3s cubic-bezier(0.04, 0.95, 0.17, 1);
  -o-animation: spring 0.3s cubic-bezier(0.04, 0.95, 0.17, 1);
  -ms-animation: spring 0.3s cubic-bezier(0.04, 0.95, 0.17, 1);
  animation: spring 0.3s cubic-bezier(0.04, 0.95, 0.17, 1);
}
