@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900,400italic");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  font-size: 15px;
  color: #212121;
}
h1 {
  font-size: 3em;
  font-weight: 600;
}
h2 {
  font-size: 2.6em;
  font-weight: 600;
}
h3 {
  font-size: 2.2em;
  font-weight: 600;
}
h4 {
  font-size: 1.8em;
  font-weight: 600;
}
h5 {
  font-size: 1.4em;
  font-weight: 600;
}
h6 {
  font-size: 1.08em;
  font-weight: 600;
}
::selection {
  color: #000;
  background-color: #d3d9f3;
}
a {
  color: #304ab8;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #24378a;
}
.clm-xs-1,
.clm-xs-2,
.clm-xs-3,
.clm-xs-4,
.clm-xs-5,
.clm-xs-6,
.clm-xs-7,
.clm-xs-8,
.clm-xs-9,
.clm-xs-10,
.clm-xs-11,
.clm-xs-12,
.clm-s-1,
.clm-s-2,
.clm-s-3,
.clm-s-4,
.clm-s-5,
.clm-s-6,
.clm-s-7,
.clm-s-8,
.clm-s-9,
.clm-s-10,
.clm-s-11,
.clm-s-12,
.clm-m-1,
.clm-m-2,
.clm-m-3,
.clm-m-4,
.clm-m-5,
.clm-m-6,
.clm-m-7,
.clm-m-8,
.clm-m-9,
.clm-m-10,
.clm-m-11,
.clm-m-12,
.clm-l-1,
.clm-l-2,
.clm-l-3,
.clm-l-4,
.clm-l-5,
.clm-l-6,
.clm-l-7,
.clm-l-8,
.clm-l-9,
.clm-l-10,
.clm-l-11,
.clm-l-12,
.clm-xl-1,
.clm-xl-2,
.clm-xl-3,
.clm-xl-4,
.clm-xl-5,
.clm-xl-6,
.clm-xl-7,
.clm-xl-8,
.clm-xl-9,
.clm-xl-10,
.clm-xl-11,
.clm-xl-12,
.clm-hd-1,
.clm-hd-2,
.clm-hd-3,
.clm-hd-4,
.clm-hd-5,
.clm-hd-6,
.clm-hd-7,
.clm-hd-8,
.clm-hd-9,
.clm-hd-10,
.clm-hd-11,
.clm-hd-12 {
  padding: 0 1em;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  margin-left: 0%;
  margin-right: 0%;
}
.clm-xs-1:before,
.clm-xs-2:before,
.clm-xs-3:before,
.clm-xs-4:before,
.clm-xs-5:before,
.clm-xs-6:before,
.clm-xs-7:before,
.clm-xs-8:before,
.clm-xs-9:before,
.clm-xs-10:before,
.clm-xs-11:before,
.clm-xs-12:before,
.clm-s-1:before,
.clm-s-2:before,
.clm-s-3:before,
.clm-s-4:before,
.clm-s-5:before,
.clm-s-6:before,
.clm-s-7:before,
.clm-s-8:before,
.clm-s-9:before,
.clm-s-10:before,
.clm-s-11:before,
.clm-s-12:before,
.clm-m-1:before,
.clm-m-2:before,
.clm-m-3:before,
.clm-m-4:before,
.clm-m-5:before,
.clm-m-6:before,
.clm-m-7:before,
.clm-m-8:before,
.clm-m-9:before,
.clm-m-10:before,
.clm-m-11:before,
.clm-m-12:before,
.clm-l-1:before,
.clm-l-2:before,
.clm-l-3:before,
.clm-l-4:before,
.clm-l-5:before,
.clm-l-6:before,
.clm-l-7:before,
.clm-l-8:before,
.clm-l-9:before,
.clm-l-10:before,
.clm-l-11:before,
.clm-l-12:before,
.clm-xl-1:before,
.clm-xl-2:before,
.clm-xl-3:before,
.clm-xl-4:before,
.clm-xl-5:before,
.clm-xl-6:before,
.clm-xl-7:before,
.clm-xl-8:before,
.clm-xl-9:before,
.clm-xl-10:before,
.clm-xl-11:before,
.clm-xl-12:before,
.clm-hd-1:before,
.clm-hd-2:before,
.clm-hd-3:before,
.clm-hd-4:before,
.clm-hd-5:before,
.clm-hd-6:before,
.clm-hd-7:before,
.clm-hd-8:before,
.clm-hd-9:before,
.clm-hd-10:before,
.clm-hd-11:before,
.clm-hd-12:before,
.clm-xs-1:after,
.clm-xs-2:after,
.clm-xs-3:after,
.clm-xs-4:after,
.clm-xs-5:after,
.clm-xs-6:after,
.clm-xs-7:after,
.clm-xs-8:after,
.clm-xs-9:after,
.clm-xs-10:after,
.clm-xs-11:after,
.clm-xs-12:after,
.clm-s-1:after,
.clm-s-2:after,
.clm-s-3:after,
.clm-s-4:after,
.clm-s-5:after,
.clm-s-6:after,
.clm-s-7:after,
.clm-s-8:after,
.clm-s-9:after,
.clm-s-10:after,
.clm-s-11:after,
.clm-s-12:after,
.clm-m-1:after,
.clm-m-2:after,
.clm-m-3:after,
.clm-m-4:after,
.clm-m-5:after,
.clm-m-6:after,
.clm-m-7:after,
.clm-m-8:after,
.clm-m-9:after,
.clm-m-10:after,
.clm-m-11:after,
.clm-m-12:after,
.clm-l-1:after,
.clm-l-2:after,
.clm-l-3:after,
.clm-l-4:after,
.clm-l-5:after,
.clm-l-6:after,
.clm-l-7:after,
.clm-l-8:after,
.clm-l-9:after,
.clm-l-10:after,
.clm-l-11:after,
.clm-l-12:after,
.clm-xl-1:after,
.clm-xl-2:after,
.clm-xl-3:after,
.clm-xl-4:after,
.clm-xl-5:after,
.clm-xl-6:after,
.clm-xl-7:after,
.clm-xl-8:after,
.clm-xl-9:after,
.clm-xl-10:after,
.clm-xl-11:after,
.clm-xl-12:after,
.clm-hd-1:after,
.clm-hd-2:after,
.clm-hd-3:after,
.clm-hd-4:after,
.clm-hd-5:after,
.clm-hd-6:after,
.clm-hd-7:after,
.clm-hd-8:after,
.clm-hd-9:after,
.clm-hd-10:after,
.clm-hd-11:after,
.clm-hd-12:after {
  display: table;
  content: '';
}
.clm-xs-1:after,
.clm-xs-2:after,
.clm-xs-3:after,
.clm-xs-4:after,
.clm-xs-5:after,
.clm-xs-6:after,
.clm-xs-7:after,
.clm-xs-8:after,
.clm-xs-9:after,
.clm-xs-10:after,
.clm-xs-11:after,
.clm-xs-12:after,
.clm-s-1:after,
.clm-s-2:after,
.clm-s-3:after,
.clm-s-4:after,
.clm-s-5:after,
.clm-s-6:after,
.clm-s-7:after,
.clm-s-8:after,
.clm-s-9:after,
.clm-s-10:after,
.clm-s-11:after,
.clm-s-12:after,
.clm-m-1:after,
.clm-m-2:after,
.clm-m-3:after,
.clm-m-4:after,
.clm-m-5:after,
.clm-m-6:after,
.clm-m-7:after,
.clm-m-8:after,
.clm-m-9:after,
.clm-m-10:after,
.clm-m-11:after,
.clm-m-12:after,
.clm-l-1:after,
.clm-l-2:after,
.clm-l-3:after,
.clm-l-4:after,
.clm-l-5:after,
.clm-l-6:after,
.clm-l-7:after,
.clm-l-8:after,
.clm-l-9:after,
.clm-l-10:after,
.clm-l-11:after,
.clm-l-12:after,
.clm-xl-1:after,
.clm-xl-2:after,
.clm-xl-3:after,
.clm-xl-4:after,
.clm-xl-5:after,
.clm-xl-6:after,
.clm-xl-7:after,
.clm-xl-8:after,
.clm-xl-9:after,
.clm-xl-10:after,
.clm-xl-11:after,
.clm-xl-12:after,
.clm-hd-1:after,
.clm-hd-2:after,
.clm-hd-3:after,
.clm-hd-4:after,
.clm-hd-5:after,
.clm-hd-6:after,
.clm-hd-7:after,
.clm-hd-8:after,
.clm-hd-9:after,
.clm-hd-10:after,
.clm-hd-11:after,
.clm-hd-12:after {
  clear: both;
}
.contain {
  *zoom: 1;
  width: auto;
  max-width: 970px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.contain:before,
.contain:after {
  content: '';
  display: table;
}
.contain:after {
  clear: both;
}
.bind {
  height: 100%;
  width: 100%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-justify:after {
  display: inline-block;
  content: '';
  width: 100%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-reset {
  float: none;
}
.align-top {
  vertical-align: top;
  display: inline-block;
}
.align-middle {
  vertical-align: middle;
  display: inline-block;
}
.align-bottom {
  vertical-align: bottom;
  display: inline-block;
}
.align-center {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.align-horizontal {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.align-vertical {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.row {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.grid-row {
  margin: 0 -15px;
}
.grid-row:before,
.grid-row:after {
  display: table;
  content: '';
}
.grid-row:after {
  clear: both;
}
@media only screen {
  .clm-xs-1 {
    width: 8.333333333333332%;
  }
}
@media only screen {
  .clm-xs-2 {
    width: 16.666666666666664%;
  }
}
@media only screen {
  .clm-xs-3 {
    width: 25%;
  }
}
@media only screen {
  .clm-xs-4 {
    width: 33.33333333333333%;
  }
}
@media only screen {
  .clm-xs-5 {
    width: 41.66666666666667%;
  }
}
@media only screen {
  .clm-xs-6 {
    width: 50%;
  }
}
@media only screen {
  .clm-xs-7 {
    width: 58.333333333333336%;
  }
}
@media only screen {
  .clm-xs-8 {
    width: 66.66666666666666%;
  }
}
@media only screen {
  .clm-xs-9 {
    width: 75%;
  }
}
@media only screen {
  .clm-xs-10 {
    width: 83.33333333333334%;
  }
}
@media only screen {
  .clm-xs-11 {
    width: 91.66666666666666%;
  }
}
@media only screen {
  .clm-xs-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-1 {
    width: 8.333333333333332%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-2 {
    width: 16.666666666666664%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-4 {
    width: 33.33333333333333%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-5 {
    width: 41.66666666666667%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-7 {
    width: 58.333333333333336%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-8 {
    width: 66.66666666666666%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-9 {
    width: 75%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-10 {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-11 {
    width: 91.66666666666666%;
  }
}
@media only screen and (min-width: 481px) {
  .clm-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-1 {
    width: 8.333333333333332%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-2 {
    width: 16.666666666666664%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-4 {
    width: 33.33333333333333%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-5 {
    width: 41.66666666666667%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-7 {
    width: 58.333333333333336%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-8 {
    width: 66.66666666666666%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-9 {
    width: 75%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-10 {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-11 {
    width: 91.66666666666666%;
  }
}
@media only screen and (min-width: 769px) {
  .clm-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-1 {
    width: 8.333333333333332%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-2 {
    width: 16.666666666666664%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-4 {
    width: 33.33333333333333%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-5 {
    width: 41.66666666666667%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-7 {
    width: 58.333333333333336%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-8 {
    width: 66.66666666666666%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-9 {
    width: 75%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-10 {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-11 {
    width: 91.66666666666666%;
  }
}
@media only screen and (min-width: 1025px) {
  .clm-l-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-1 {
    width: 8.333333333333332%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-2 {
    width: 16.666666666666664%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-4 {
    width: 33.33333333333333%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-5 {
    width: 41.66666666666667%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-7 {
    width: 58.333333333333336%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-8 {
    width: 66.66666666666666%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-9 {
    width: 75%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-10 {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-11 {
    width: 91.66666666666666%;
  }
}
@media only screen and (min-width: 1225px) {
  .clm-xl-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-1 {
    width: 8.333333333333332%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-2 {
    width: 16.666666666666664%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-3 {
    width: 25%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-4 {
    width: 33.33333333333333%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-5 {
    width: 41.66666666666667%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-7 {
    width: 58.333333333333336%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-8 {
    width: 66.66666666666666%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-9 {
    width: 75%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-10 {
    width: 83.33333333333334%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-11 {
    width: 91.66666666666666%;
  }
}
@media only screen and (min-width: 1825px) {
  .clm-hd-12 {
    width: 100%;
  }
}
.nogutter {
  padding: 0;
}
.reverse-grid > [class^='clm-'] {
  float: right;
}
.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #505050;
  background-color: #e0e1e2;
  outline: 0;
  padding: 0 1.4em;
  text-align: center;
  border: 0;
  height: 2.467em;
  line-height: 2.467em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button.labeled {
  padding: 0 1.4em 0 4em;
}
.button.labeled i {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.6em;
  background-color: rgba(0,0,0,0.1);
  text-align: center;
  color: #fff;
  height: 100%;
  font-size: 1em;
  line-height: 2.467em;
}
.button.labeled.labeled-right {
  padding: 0 4em 0 1.4em;
}
.button.labeled.labeled-right i {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}
.button.icon {
  padding: 0 0.8275em;
}
.button:hover {
  color: #404040;
  background-color: #d7d8d9;
}
.button-primary {
  color: #fff;
  background-color: #304ab8;
}
.button-primary:hover {
  color: #fff;
  background-color: #2c44a9;
}
.button-red {
  color: #fff;
  background-color: #db2828;
}
.button-red:hover {
  color: #fff;
  background-color: #c22;
}
.button-orange {
  color: #fff;
  background-color: #f2711c;
}
.button-orange:hover {
  color: #fff;
  background-color: #eb650d;
}
.button-yellow {
  color: #fff;
  background-color: #fbbd08;
}
.button-yellow:hover {
  color: #fff;
  background-color: #eab004;
}
.button-green {
  color: #fff;
  background-color: #21ba45;
}
.button-green:hover {
  color: #fff;
  background-color: #1eab3f;
}
.button-teal {
  color: #fff;
  background-color: #00b5ad;
}
.button-teal:hover {
  color: #fff;
  background-color: #00a79f;
}
.button-blue {
  color: #fff;
  background-color: #2185d0;
}
.button-blue:hover {
  color: #fff;
  background-color: #1e7abf;
}
.button-violet {
  color: #fff;
  background-color: #6435c9;
}
.button-violet:hover {
  color: #fff;
  background-color: #5c31b9;
}
.button-purple {
  color: #fff;
  background-color: #a333c8;
}
.button-purple:hover {
  color: #fff;
  background-color: #962fb8;
}
.button-pink {
  color: #fff;
  background-color: #e03997;
}
.button-pink:hover {
  color: #fff;
  background-color: #dd268d;
}
.button-brown {
  color: #fff;
  background-color: #a5673f;
}
.button-brown:hover {
  color: #fff;
  background-color: #985f3a;
}
.button-grey {
  color: #fff;
  background-color: #767676;
}
.button-grey:hover {
  color: #fff;
  background-color: #6d6d6d;
}
.button-black {
  color: #fff;
  background-color: #000;
}
.button-black:hover {
  color: #fff;
  background-color: #242424;
}
ul.list,
ol.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list {
  font-size: 1em;
}
.list li,
.list .item {
  padding: 0.22em 0;
  position: relative;
  line-height: 1.15em;
  display: list-item;
  table-layout: fixed;
}
.list li:after,
.list .item:after {
  display: block;
  content: '';
  height: 0;
  clear: both;
}
.list li a.header,
.list .item a.header {
  display: block;
}
.list li .header,
.list .item .header {
  font-weight: 600;
  line-height: 1.15em;
}
.list li .icon,
.list .item .icon {
  display: inline-block;
  vertical-align: middle !important;
  margin-right: 8px;
}
.list li .icon.large,
.list .item .icon.large {
  font-size: 1.6em;
  line-height: 1.4em;
}
.list li .content,
.list .item .content {
  display: inline-block;
  vertical-align: top;
}
.list.spaced li,
.list.spaced .item {
  padding: 0.4em 0;
}
.list.very-spaced li,
.list.very-spaced .item {
  padding: 0.8em 0;
}
.list.links > .item {
  opacity: 0.52;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=52)";
  filter: alpha(opacity=52);
  -webkit-transition: opacity 0.14s ease;
  -moz-transition: opacity 0.14s ease;
  -o-transition: opacity 0.14s ease;
  -ms-transition: opacity 0.14s ease;
  transition: opacity 0.14s ease;
}
.list.links > .item:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.list.links > .item.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.list.divided li:first-child,
.list.divided .item:first-child {
  border: none;
}
.list.divided li,
.list.divided .item {
  border-top: 1px solid #e3e3e7;
}
.list.ordered {
  counter-reset: item;
}
.list.ordered .list {
  counter-reset: item;
  padding: 0.55em 0 0.05em 0.5em;
}
.list.ordered li:before,
.list.ordered .item:before {
  counter-increment: item;
  content: counters(item, ".") " ";
  margin-right: 5px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.list.bulleted {
  padding-left: 1em;
}
.list.bulleted .item:before {
  content: '•';
  position: absolute;
  left: 0;
  auto: 0;
  top: 0;
  auto: 0;
  margin-left: -0.77em;
}
ol.ordered li[value]:before {
  content: attr(value);
}
.label {
  font-size: 0.875em;
  background-color: #e0e1e2;
  color: #5d5d5d;
  padding: 0.55em 0.72em;
  display: inline-block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: 600;
}
.label .detail {
  background-color: rgba(0,0,0,0.1);
  padding: 0.55em 0.72em;
  height: 100%;
  margin: -0.55em -0.72em -0.55em 0.72em;
  display: inline-block;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  vertical-align: top;
  float: right;
}
.label i {
  margin-right: 0.3em;
}
.label a {
  color: #757575;
  padding-left: 0.35em;
}
.label a:hover {
  color: #5e5e5e;
}
.label.red {
  color: #fff;
}
.label.orange {
  color: #fff;
}
.label.yellow {
  color: #fff;
}
.label.green {
  color: #fff;
}
.label.teal {
  color: #fff;
}
.label.blue {
  color: #fff;
}
.label.violet {
  color: #fff;
}
.label.purple {
  color: #fff;
}
.label.pink {
  color: #fff;
}
.label.brown {
  color: #fff;
}
.label.grey {
  color: #fff;
}
.label.black {
  color: #fff;
}
.image-mini img {
  width: 35px;
  height: auto;
}
.image-tiny img {
  width: 70px;
  height: auto;
}
.image-small img {
  width: 140px;
  height: auto;
}
.image-medium img {
  width: 280px;
  height: auto;
}
.image-large img {
  width: 400px;
  height: auto;
}
.image-big img {
  width: 600px;
  height: auto;
}
.image-huge img {
  width: 800px;
  height: auto;
}
.image-massive img {
  width: 940px;
  height: auto;
}
.divider {
  border-top: 1px solid rgba(37,38,41,0.15);
  border-bottom: 1px solid rgba(255,255,255,0.15);
  margin: 1em 0;
}
.message {
  padding: 0.875em 1.4em;
  background-color: #f8f8f9;
  border: 1px solid #e3e3e7;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 1em 0;
}
.message p {
  margin: 0;
}
.message h6 {
  font-weight: 600;
  margin: 0 0 0.3em 0;
}
.message-warning {
  background-color: #fffaeb;
  border-color: #ffdd75;
  color: #594301;
}
.message-important {
  background-color: #fceeee;
  border-color: #f2b4b4;
  color: #4e0d0d;
}
.message-success {
  background-color: #ebfbef;
  border-color: #9aebae;
  color: #0c4118;
}
.message-info {
  background-color: #ecf5fc;
  border-color: #87c0ec;
  color: #0c2f49;
}
.input {
  position: relative;
  font-size: 0;
  font-style: normal;
}
.input input[disabled],
.input.disabled {
  opacity: 0.45;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
  filter: alpha(opacity=45);
  cursor: default;
  pointer-events: none;
}
.input input,
.input textarea {
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  font-size: 15px;
  color: #212121;
  margin: 0;
  font-size: 15px;
  max-width: 100%;
  height: 2.467em;
  line-height: 2.467em;
  padding: 0.79em 1em;
  outline: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
  border: 0;
  border: 1px solid #e0e1e2;
  -webkit-transition: border-color 0.14s ease;
  -moz-transition: border-color 0.14s ease;
  -o-transition: border-color 0.14s ease;
  -ms-transition: border-color 0.14s ease;
  transition: border-color 0.14s ease;
  min-width: 220px;
  background-color: #fff;
}
.input input:focus,
.input textarea:focus {
  border-color: #2185d0;
}
.input textarea {
  line-height: 1.2em;
  min-height: 3em;
  width: 100%;
  resize: vertical;
}
.input textarea:not([rows]) {
  min-height: 8em;
  max-height: 22em;
}
.input.transparent input {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.action input {
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  vertical-align: top;
}
.action input + .button {
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}
.action .button {
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}
.action .button + input {
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  display: inline-block;
  vertical-align: top;
}
.text-primary {
  color: #2185d0;
}
.text-red {
  color: #db2828;
}
.text-orange {
  color: #f2711c;
}
.text-yellow {
  color: #fbbd08;
}
.text-green {
  color: #21ba45;
}
.text-teal {
  color: #00b5ad;
}
.text-blue {
  color: #2185d0;
}
.text-violet {
  color: #6435c9;
}
.text-purple {
  color: #a333c8;
}
.text-pink {
  color: #e03997;
}
.text-brown {
  color: #a5673f;
}
.text-grey {
  color: #767676;
}
.text-black {
  color: #000;
}
.red {
  background-color: #db2828;
}
.orange {
  background-color: #f2711c;
}
.yellow {
  background-color: #fbbd08;
}
.green {
  background-color: #21ba45;
}
.teal {
  background-color: #00b5ad;
}
.blue {
  background-color: #2185d0;
}
.violet {
  background-color: #6435c9;
}
.purple {
  background-color: #a333c8;
}
.pink {
  background-color: #e03997;
}
.brown {
  background-color: #a5673f;
}
.grey {
  background-color: #767676;
}
.black {
  background-color: #000;
}
.loader {
  width: 3.4em;
  height: 3.4em;
  position: relative;
  text-align: center;
  font-size: 1em;
  color: #fff;
  padding-top: 3.64em;
}
.loader:empty {
  width: 3em;
  height: 3em;
  padding-top: 0 !important;
}
.loader.disabled,
.loader.hidden {
  display: none;
}
.loader.inline {
  display: inline-block;
}
.loader.small {
  width: 3.3em;
  height: 3.3em;
  padding-top: 1.7em;
}
.loader.small:empty {
  width: 1.2em;
  height: 1.2em;
  padding-top: 0 !important;
}
.loader.small:before,
.loader.small:after {
  width: 1.2em;
  height: 1.2em;
}
.loader.large {
  width: 5em;
  height: 5em;
  padding-top: 5.7em;
}
.loader.large:empty {
  width: 5em;
  height: 5em;
  padding-top: 0 !important;
}
.loader.large:before,
.loader.large:after {
  width: 5em;
  height: 5em;
}
.loader.dark {
  color: #212121;
}
.loader.dark:before,
.loader.dark:after {
  background-color: #1f1e1d;
}
.loader:before,
.loader:after {
  width: 3em;
  height: 3em;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e0e1e2;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  display: block;
  margin: 0 auto;
  content: '';
  -webkit-animation: bounce 2s infinite ease-in-out;
  -webkit-animation: bounce 2s infinite ease-in-out;
  -moz-animation: bounce 2s infinite ease-in-out;
  -o-animation: bounce 2s infinite ease-in-out;
  -ms-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}
.loader:after {
  -webkit-animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -o-animation-delay: -1s;
  -ms-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
  }
}
@-moz-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@-o-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
.module {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(38,38,40,0.15);
  box-shadow: 0 1px 2px 0 rgba(38,38,40,0.15);
  border: 1px solid #e0e1e2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 1em 0;
  padding: 1em;
}
.circular {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  min-width: 2.091em;
  min-height: 2em;
  line-height: 1em;
  text-align: center;
}
.cards {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.card {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(38,38,40,0.15);
  box-shadow: 0 1px 2px 0 rgba(38,38,40,0.15);
  border: 1px solid #e0e1e2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 285px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card.fluid {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
.card.fluid:before,
.card.fluid:after {
  content: '';
  display: table;
}
.card.fluid:after {
  clear: both;
}
.card .image {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.card .image img {
  max-width: 100%;
}
.card .image.header img {
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.card .content {
  padding: 1em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.card .content:after {
  display: block;
  content: '';
  clear: both;
}
.card .content .header {
  font-size: 1.3em;
}
.card .content .sub {
  line-height: 1.5em;
  color: #8e8e8e;
}
.card .content p {
  margin-top: 0.6em;
  line-height: 1.3em;
  color: #5d5d5d;
}
.card .content.footer {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0.875em 1em;
  color: #8e8e8e;
  font-size: 0.925em;
  border-top: 1px solid #e8e9e9;
}
.card .content.footer.button {
  padding: 0;
  text-align: center;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.card .content.footer i {
  margin-right: 5px;
  font-size: 0.84em;
}
.card .content.footer:before,
.card .content.footer:after {
  content: '';
  display: table;
}
.card .content.footer:after {
  clear: both;
}
.comments {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
.comments:before,
.comments:after {
  content: '';
  display: table;
}
.comments:after {
  clear: both;
}
.comments .comment {
  position: relative;
  margin-top: 0.8em;
  *zoom: 1;
}
.comments .comment:before,
.comments .comment:after {
  content: '';
  display: table;
}
.comments .comment:after {
  clear: both;
}
.comments .comment .comment {
  margin-left: -1.8em;
}
.comments .comment .avatar {
  width: 2.5em;
  height: 2.5em;
  height: auto;
  display: block;
  vertical-align: top;
  margin-top: 0.26em;
  float: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.comments .comment .avatar img {
  max-width: 100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.comments .comment .content {
  display: block;
  vertical-align: top;
  margin-left: 3.4em;
}
.comments .comment .content .actions {
  display: block;
  font-size: 0.875em;
  margin-top: 0.63em;
}
.comments .comment .content .actions .action {
  display: inline-block;
  vertical-align: top;
  color: #a6a6a6;
}
.comments .comment .content .actions .action + .action {
  margin-left: 0.6em;
}
.comments .comment .content .actions .action.active {
  color: #5d5d5d;
}
.comments .comment .content .actions .action:hover {
  color: #5d5d5d;
}
.comments .comment .content .meta {
  font-size: 0.875em;
  color: #8e8e8e;
  margin-left: 0.6em;
}
.comments .comment .content .creator {
  font-weight: 600;
  color: #212121 !important;
  line-height: 1.62em;
}
.comments .comment .content .creator:hover {
  color: #304ab8;
}
.comments .comment .content .text {
  line-height: 1.14em;
}
.comments .reply {
  position: relative;
}
.comments .reply textarea {
  margin-top: 1em;
}
.comments .reply .button-group {
  margin-top: 1em;
}
.progress {
  background-color: #e0e1e2;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 1.7em;
  content: '';
}
.progress:before,
.progress:after {
  content: '';
  display: table;
}
.progress:after {
  clear: both;
}
.progress .bar {
  height: 100%;
  content: '';
  width: 50%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #96999c;
}
.dimmed {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 800;
  content: ' ';
  background-color: rgba(0,0,0,0.85);
  display: block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.dimmed.inverted {
  background-color: rgba(255,255,255,0.85);
}
.dimmed .loader {
  z-index: 900;
  display: block;
}
