.block-grey {
  width: 100%;
  height: 40px;
  background-color: #e0e1e2;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.show-grid > [class^='clm-'] {
  padding-top: 15px;
}
.show-tables > .table {
  margin: 20px 0;
}
.show-input > .input {
  margin: 10px 0;
}
.show-cards {
  margin: 12px 0;
}
.show-cards > .card:not(.fluid) {
  margin-right: 20px;
}
.show-lists > .list {
  margin: 20px 0;
}
.show-progress > .progress {
  margin: 6px 0;
}
.module.example img + img {
  margin-top: 2em;
}
.module.example .hold {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.stages {
  margin-top: 20px;
}
.y-block {
  background-color: #ffc82c;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  content: '';
}
.sidebar.top {
  background-color: #202020;
}
.sidebar.left + .main-content {
  margin-left: 290px;
}
.sidebar.left li.dropElement.active + ul {
  display: block;
}
.sidebar.left li.dropElement + ul {
  background-color: #f2f4f6;
  padding-bottom: 0.6em;
  display: none;
}
.sidebar.left li.dropElement + ul li {
  border: 0;
}
.sidebar.left li.dropElement + ul li.active a {
  color: #1877ff;
}
.sidebar.left li.dropElement + ul li a {
  font-size: 1em;
  padding: 0.6em 1.4em 0.6em 2.8em;
  color: #16325c;
}
.sidebar.left li.dropElement + ul li a:hover {
  background-color: #eceff2;
}
.main-content .page {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.main-content .page:before,
.main-content .page:after {
  content: '';
  display: table;
}
.main-content .page:after {
  clear: both;
}
