.text-left
	text-align left

.text-right
	text-align right

.text-center
	text-align center

.text-justify
	text-align justify
	&:after
		display inline-block
		content ''
		width 100%

.float-left
	float left

.float-right
	float right

.float-reset
	float none

.align-top
	vertical-align top
	display inline-block

.align-middle
	vertical-align middle
	display inline-block

.align-bottom
	vertical-align bottom
	display inline-block

.align-center
	align(both)

.align-horizontal
	align(horizontal)

.align-vertical
	align(vertical)
