.transitionDuration
	&-0
		transition-duration duration-0
	&-s
		transition-duration duration-s
	&-m
		transition-duration duration-m
	&-l
		transition-duration duration-l
	&-xl
		transition-duration duration-xl
	&-xxl
		transition-duration duration-xxl

.transitionType
	&-linear
		transition-timing-function linear
	&-ease
		transition-timing-function ease
	&-scaleIn
		transition-timing-function cubic-bezier(0, 1.42, 0.44, 1)
	&-scaleOut
		transition-timing-function cubic-bezier(0.16, 0.86, 0.44, 1)
	&-spring
		transition-timing-function cubic-bezier(0.68, -0.55, 0.27, 1.55)
	&-bounce
		transition-timing-function cubic-bezier(0.04, 0.89, 0.76, 1.74)

.animation-spin
	animation spin .9s infinite linear

.animation-rotate
	animation spin 3s 1s infinite cubic-bezier(0.04, 0.95, 0.17, 1)

.animation-bounce
	animation bounce 1.4s infinite cubic-bezier(0.04, 0.95, 0.17, 1)

.animation-spring
	animation spring .3s cubic-bezier(0.04, 0.95, 0.17, 1)
