.dimmed
	absolute top left
	height 100%
	width 100%
	z-index 800
	content ' '
	background-color rgba(0,0,0,.85)
	display block
	border-radius border-radius-normal
	&.inverted
		background-color rgba(255,255,255,.85)
	.loader
		z-index 900
		display block
