.row
	span(1/1)

.grid-row
	margin 0 -15px
	overflow hidden
	&:before, &:after
		display table
		content ''
	&:after
		clear both

for xs in (1..grid-length)
	.xs-{xs}
		@extend $grid
		+above('xs')
			grid(xs)

for s in (1..grid-length)
	.s-{s}
		@extend $grid
		+above('s')
			grid(s)

for m in (1..grid-length)
	.m-{m}
		@extend $grid
		+above('m')
			grid(m)

for l in (1..grid-length)
	.l-{l}
		@extend $grid
		+above('l')
			grid(l)

for xl in (1..grid-length)
	.xl-{xl}
		@extend $grid
		+above('xl')
			grid(xl)

for hd in (1..grid-length)
	.hd-{hd}
		@extend $grid
		+above('hd')
			grid(hd)

.nogutter
	padding 0
