@keyframes spin
	0%
		transform rotate(0deg)
	100%
		transform rotate(1turn)

@keyframes bounce
	0%, 20%, 50%, 80%, 100%
		transform translateY(0)
	40%
		transform translateY(-15px)
	60%
		transform translateY(-5px)


@keyframes double-bounce
	0%
		transform scale(0.0)
	 50%
		transform scale(1.0)
	100%
		transform scale(0.0)

@keyframes spring
	0%
		transform scale(1.1)
	40%
		transform scale(0.9)
	100%
		transform scale(1)

@keyframes load2
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)
