.progress
	background-color background-light-gray
	span(1/1)
	border-radius border-radius-normal
	height 1.7em
	content ''
	.bar
		height 100%
		content ''
		width 50%
		border-radius border-radius-normal
		background-color darken(background-light-gray, 32%)
