.table
	width 100%
	border-radius border-radius-normal
	border 1px solid background-light-gray
	border-collapse separate
	&.striped
		tr:nth-child(2n)
			background-color lighten(background-lightest-gray, 50%)
	th
		padding 1em
		background-color background-lightest-gray
		font-weight 600
		border-bottom 1px solid background-light-gray
	tr
		td
			padding 0.8em 1em
			border-left 1px solid background-light-gray
			border-bottom 1px solid background-light-gray
			&:first-child
				border-left 0
		&:last-child
			td
				border-bottom 0
