ifExists(getFilename(),$theme);
$progress-background-color = $color-border;
$progress-border-radius = $border-radius-m;
$progress-height = 1.6rem;
$progress_bar-border-radius = $progress-border-radius;
$progress_bar-background-color = darken($progress-background-color,76%);
$progress_status-color = $color-white;
$progress_status-font-size = $font-size-small;
$progress_status-font-weight = $font-weight-bold;
$progress_status-line-height = $progress-height;

styleSized(size)
    if (size == 'tiny')
        height: .26rem;

    if (size == 'small')
        height: .8rem;
        

    if (size == 'large')
        height: 2.8rem;

        .status
            font-size: $font-size;
            line-height: 2.8rem;

.progress
    cf();
    background-color: $progress-background-color;
    border-radius: $progress-border-radius;
    content: '';
    height: $progress-height;

    .bar
        background-color: $progress_bar-background-color;
        border-radius: $progress_bar-border-radius;
        height: 100%;
        position: relative;
        width: 0;

        .status
            absolute: right .6rem;
            color: $progress_status-color;
            display: none;
            font-size: $progress_status-font-size;
            font-weight: $progress_status-font-weight;
            line-height: $progress_status-line-height;

    &.tiny
        styleSized('tiny');

    &.small
        styleSized('small');

    &.large
        styleSized('large');

    &:not(.tiny):not(.small)
        .bar.show
            .status
                display: block;
